Node-RED/flows.json
[{"id":"ac30bd52.85a18","type":"tab","label":"Default Flow","disabled":false,"info":"# bungle tungle"},{"id":"5d7ce174.3bef3","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"V-Berth","tooltip":"The Forward Cabin","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"local_hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"local_hotel","offcolor":"#555555","x":1520,"y":1340,"wires":[["81628dff.d1ab7","ab406bb0.e6ff08"]]},{"id":"ea9e350c.2c0908","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Aft-Cabin","tooltip":"","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"hotel","offcolor":"#555555","x":1520,"y":1260,"wires":[["77976be4.cd66c4","bc4e6957.ecd618"]]},{"id":"596ced73.698494","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Galley","tooltip":"Kitchen","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant_menu","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant_menu","offcolor":"#555555","x":1530,"y":1100,"wires":[["65b659ae.ad5748","726385af.cbfbbc"]]},{"id":"23d30424.ed68bc","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Head","tooltip":"Toilet","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wc","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wc","offcolor":"#555555","x":1530,"y":1180,"wires":[["21c9a92f.3e3146","d87acbbb.2ca0b8"]]},{"id":"9e1c0a8b.52b6c8","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Saloon","tooltip":"Dinette, main dining and social area","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant","offcolor":"#555555","x":1530,"y":380,"wires":[["68495ad9.6c7624","dbd0a7a9.ba3a28"]]},{"id":"ea655e75.3a0f9","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Nav-Station","tooltip":"Navigation Station / Chart Table","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-architecture","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"mi-architecture","offcolor":"#000000","x":1510,"y":620,"wires":[["7dea8df3.2e7414","580d225e.eab22c"]]},{"id":"dc868d4c.4c1a7","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Deck","tooltip":"Outside Lights","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-ship","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-ship","offcolor":"#555555","x":1530,"y":1020,"wires":[["d1b26220.38257","3dfcec6a.5244f4"]]},{"id":"8bd8db.b6cb7728","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Anchor","tooltip":"The Anchor Light","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-anchor","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-anchor","offcolor":"#555555","x":1520,"y":860,"wires":[["f0c33766.eb9e48","fb4b040b.0385a8"]]},{"id":"7ede3db1.d69bc4","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Sailing","tooltip":"Green/Red/White masthead tri-color for use under sail","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-podcast","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-podcast","offcolor":"#555555","x":1530,"y":780,"wires":[["c7e7035d.744af","3018cacc.6b7826"]]},{"id":"41871a11.34add4","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Motoring","tooltip":"Green/Red bi-colour, stern and masthead lights for use when motoring","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"toys","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"toys","offcolor":"#555555","x":1520,"y":700,"wires":[["dfa7d2d0.df1a7","26319efd.c65412"]]},{"id":"25ace1cf.771a9e","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"cc688149.611fe","order":0,"width":0,"height":0,"gtype":"gage","title":"RPM","label":"rpm","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":440,"wires":[]},{"id":"2c904aed.c79d46","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Cooling Water Temp","label":"°C","format":"{{value}}","min":"-40","max":"120","colors":["#0006b3","#0f8000","#ca3838"],"seg1":"","seg2":"","x":200,"y":480,"wires":[]},{"id":"1f5de223.1d031e","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temp","label":"°C","format":"{{value}}","min":"-40","max":"200","colors":["#0522ff","#14ad00","#ca3838"],"seg1":"","seg2":"","x":160,"y":520,"wires":[]},{"id":"1af5e89a.57b467","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"9920271d.097a98","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Pressure","label":"bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":560,"wires":[]},{"id":"b63c23b5.0077d","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Alternator/Starter","label":"V","format":"{{value}}","min":"9","max":"15","colors":["#ff0000","#23a300","#d4ff00"],"seg1":"","seg2":"","x":200,"y":740,"wires":[]},{"id":"82b9f088.15789","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"AC","label":"V","format":"{{value}}","min":"200","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":620,"wires":[]},{"id":"9a9c008c.a449d","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Inverters","label":"V","format":"{{value}}","min":"10","max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":700,"wires":[]},{"id":"9c3ec5ca.2ab9d8","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"A","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":660,"wires":[]},{"id":"3c9f35.02eb10cc","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":660,"wires":[]},{"id":"47dd47fc.fae318","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Inverter","label":"W","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":700,"wires":[]},{"id":"c2b363f7.e8e04","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"5308aea2.0035","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Tank","label":"liters","format":"{{value}}","min":0,"max":"146","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":1000,"wires":[]},{"id":"33da3163.d2acce","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Front Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":880,"wires":[]},{"id":"3a8b2dc4.938a92","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Middle Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":920,"wires":[]},{"id":"2955b71a.216f08","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Aft Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":180,"y":960,"wires":[]},{"id":"d18cd27f.f203f","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Diesel Heater","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"fa-fire","offcolor":"#555555","x":980,"y":1020,"wires":[["58e0f1c1.06a44","839249db.67b688"]]},{"id":"9dd0714d.b7727","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Electric Heater","tooltip":"","group":"70bbe0ae.e49bf","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-waves","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"mi-waves","offcolor":"#555555","x":980,"y":700,"wires":[["976d8f76.93841","9c0e05d1.274938"]]},{"id":"decfd90.b0e6a28","type":"ui_slider","z":"ac30bd52.85a18","name":"","label":"V-Berth Fan","tooltip":"","group":"70bbe0ae.e49bf","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":200,"wires":[[]]},{"id":"7b0d230f.a1d5fc","type":"ui_slider","z":"ac30bd52.85a18","name":"","label":"Aft-Cabin Fan","tooltip":"","group":"70bbe0ae.e49bf","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":180,"y":240,"wires":[[]]},{"id":"213d3786.d400f8","type":"ui_slider","z":"ac30bd52.85a18","name":"","label":"Saloon Fan","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":280,"wires":[[]]},{"id":"c86a2f00.4647a","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"White Backlight","tooltip":"White backlight for nav-station gauges","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#000000","x":1500,"y":540,"wires":[["f145353f.79ed08","f4fb7322.f5a8a"]]},{"id":"7fae9e3.988396","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Red Backlight","tooltip":"Red backlight for nav-station gauges","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#000000","x":1500,"y":460,"wires":[["c8879ca6.8837","fb6018d5.da87d8"]]},{"id":"f85d900a.20068","type":"ui_audio","z":"ac30bd52.85a18","name":"Bilge Water Warning","group":"fbe2d24d.1395d","voice":"","always":"","x":400,"y":920,"wires":[]},{"id":"8ed6b375.623c6","type":"ui_toast","z":"ac30bd52.85a18","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Bilge Water Warning","x":400,"y":960,"wires":[]},{"id":"6bcbfe4f.1e3a7","type":"ui_toast","z":"ac30bd52.85a18","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Holding Tank Warning","x":400,"y":1000,"wires":[]},{"id":"b1cc7454.479f68","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"9bfb2502.fd9238","order":0,"width":0,"height":0,"gtype":"gage","title":"Holding Tank","label":"%","format":"{{value}}","min":0,"max":"164","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":840,"wires":[]},{"id":"91dfcf40.5256e","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Water Maker","tooltip":"","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"#0000FF","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"#555555","x":990,"y":380,"wires":[["39e972d2.39418e","283b779b.953b18"]]},{"id":"4c709ab6.621354","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"SSB","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"radio","offcolor":"#555555","x":1010,"y":1100,"wires":[["332d93eb.c2b85c","61f8a93e.0d2028"]]},{"id":"f4577cb.3e0a68","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"VHF","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wifi_tethering","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"wifi_tethering","offcolor":"#555555","x":1010,"y":780,"wires":[["2789c8a9.6be958","6a837a7b.038054"]]},{"id":"da8f815c.dee54","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Fridge","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"#0099ff","offvalue":"false","offvalueType":"bool","officon":"fa-snowflake-o","offcolor":"#555555","x":1010,"y":860,"wires":[["6c7f802e.cc53b","64c296ba.6f3ea8"]]},{"id":"5c50c6a.9a57b38","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Freezer","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"ac_unit","oncolor":"#00ddff","offvalue":"false","offvalueType":"bool","officon":"ac_unit","offcolor":"#555555","x":1000,"y":940,"wires":[["a64173da.2581a","f86a084d.be46b8"]]},{"id":"47117479.91052c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Gauges & Sensors","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tachometer","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"fa-tachometer","offcolor":"#555555","x":1490,"y":140,"wires":[["68945678.0fad28","e9f97c82.82e1b"]]},{"id":"3ad9d374.9c6e3c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Transducers","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-settings_input_antenna","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-settings_input_antenna","offcolor":" #555555","x":1510,"y":220,"wires":[["d9d97a3c.e84ea8","93734c06.98eab"]]},{"id":"2c39d567.0c105a","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Radar","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"network_check","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"network_check","offcolor":"#555555","x":1010,"y":1180,"wires":[["713a33d9.485bdc","5976055d.3d465c"]]},{"id":"67970c40.58bdd4","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Autopilot","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-local_airport","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"mi-local_airport","offcolor":"#555555","x":1000,"y":1340,"wires":[["b90866ff.c7a6e8","80146670.cf1818"]]},{"id":"a02b5825.20cd58","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Cockpit","tooltip":"","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"rowing","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"rowing","offcolor":"#555555","x":1520,"y":940,"wires":[["486a0f5d.ae388","4d5a0268.7ad36c"]]},{"id":"69a934b2.3168bc","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Stove","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-fireplace","oncolor":"#ff6e5e","offvalue":"false","offvalueType":"bool","officon":"mi-fireplace","offcolor":"#555555","x":1010,"y":1260,"wires":[["c7f398cb.f300c8","baac6da6.6ebd1"]]},{"id":"d2e48f40.73145","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Microwave","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-microwave","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-microwave","offcolor":"#555555","x":990,"y":300,"wires":[["38644ff8.2174a","cb43a47.342df58"]]},{"id":"2ae2d196.be9bfe","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Electrical Sockets","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"power","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"power","offcolor":"#555555","x":970,"y":540,"wires":[["8b97f529.9bc5c8","b0e0ad84.b35f5"]]},{"id":"da666334.68613","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"PSU #1","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1000,"y":220,"wires":[["746651e6.c56ae","d438d104.2064b"]]},{"id":"2bd5daa6.b81bc6","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"PSU #2","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1000,"y":140,"wires":[["96f3c0f6.a39d","a17bb978.ceebf8"]]},{"id":"636cec13.1ecb04","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Starter Battery Charger","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-battery_charging_full","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-battery_charging_full","offcolor":"#555555","x":950,"y":460,"wires":[["ec95800b.a833d","e6411597.7a88d8"]]},{"id":"a056b49d.62d9f8","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Generator","tooltip":"Connect generator to AC Bus","group":"3f126a42.d45686","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-charging_station","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-charging_station","offcolor":"#555555","x":2000,"y":200,"wires":[[]]},{"id":"66aeec90.d562f4","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Thermostat","tooltip":"","group":"70bbe0ae.e49bf","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":170,"y":1220,"wires":[[]]},{"id":"8646792.00c7188","type":"ui_chart","z":"ac30bd52.85a18","name":"","group":"70bbe0ae.e49bf","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":320,"y":1220,"wires":[[]]},{"id":"2942c18.939073e","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Enable Thermostat","tooltip":"","group":"70bbe0ae.e49bf","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer-half","oncolor":"#FF9E9E","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer-0","offcolor":"#555555","x":500,"y":1220,"wires":[[]]},{"id":"7062b5b.9fe434c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Bilge Pump #1 Auto","tooltip":"","group":"fbe2d24d.1395d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":1080,"wires":[[]]},{"id":"ca64327d.d10fe","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Bilge Pump #2 Auto","tooltip":"","group":"fbe2d24d.1395d","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":1120,"wires":[[]]},{"id":"c7cbeb5a.a55c78","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Water Maker High Mark","tooltip":"","group":"5308aea2.0035","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"50","max":"100","step":1,"x":730,"y":1040,"wires":[[]]},{"id":"ae81f47f.af20e8","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Water Maker Low Mark","tooltip":"","group":"5308aea2.0035","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"80","step":1,"x":490,"y":1040,"wires":[[]]},{"id":"3747d5e4.103e1a","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Generator Low Mark","tooltip":"","group":"3f126a42.d45686","order":17,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"5","max":"80","step":1,"x":400,"y":780,"wires":[[]]},{"id":"7562751e.fe367c","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Generator High Mark","tooltip":"","group":"3f126a42.d45686","order":18,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"50","max":"100","step":1,"x":620,"y":780,"wires":[[]]},{"id":"bf3e9bf7.a119e8","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Generator Autostart","tooltip":"","group":"3f126a42.d45686","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":780,"wires":[[]]},{"id":"12c87459.58d3ec","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Enable Water Maker Autostart","tooltip":"","group":"5308aea2.0035","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":1040,"wires":[[]]},{"id":"d573c110.f0e62","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Shore Power","tooltip":"Connect Shore power to AC Bus","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2010,"y":240,"wires":[[]]},{"id":"d4478786.b88d38","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Automatic overboard discharge","tooltip":"Automatically discharge the holding tank overboard","group":"9bfb2502.fd9238","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-auto_delete","oncolor":"#800000","offvalue":"false","offvalueType":"bool","officon":"mi-auto_delete","offcolor":"#555555","x":230,"y":1160,"wires":[[]]},{"id":"cd1c5fcd.f936e","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Shore","label":"A","format":"{{value}}","min":"0","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":620,"wires":[]},{"id":"70d747fb.119628","type":"ui_dropdown","z":"ac30bd52.85a18","name":"","label":"Gear","tooltip":"Gear Engagement","place":"Select option","group":"e017c50e.4ffb68","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Forward","value":0,"type":"num"},{"label":"Neutral","value":1,"type":"num"},{"label":"Reverse","value":2,"type":"num"}],"payload":"","topic":"","x":150,"y":360,"wires":[[]]},{"id":"a1e27642.989f88","type":"ui_slider","z":"ac30bd52.85a18","name":"","label":"Throttle","tooltip":"Throttle position","group":"e017c50e.4ffb68","order":2,"width":"1","height":"6","passthru":true,"outs":"all","topic":"","min":"-30","max":"100","step":1,"x":160,"y":400,"wires":[[]]},{"id":"3e3156ac.31ff7a","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Maintain RPM","tooltip":"","group":"cc688149.611fe","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":440,"wires":[[]]},{"id":"63cb4e09.0a46f","type":"ui_numeric","z":"ac30bd52.85a18","name":"","label":"Target RPM","tooltip":"The RPM to target when automatically maintaining fixed RPM","group":"cc688149.611fe","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"300","max":"5000","step":1,"x":470,"y":440,"wires":[[]]},{"id":"5d0a0c48.8444a4","type":"ui_gauge","z":"ac30bd52.85a18","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Starter Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":740,"wires":[]},{"id":"81628dff.d1ab7","type":"mcp23017output","z":"ac30bd52.85a18","name":"#16Off","chip":"41285cb0.3facd4","bitNum":"0","invert":true,"x":1670,"y":1320,"wires":[[]]},{"id":"ab406bb0.e6ff08","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":1360,"wires":[["53e7e0d.fc3232"]]},{"id":"53e7e0d.fc3232","type":"mcp23017output","z":"ac30bd52.85a18","name":"#16On","chip":"41285cb0.3facd4","bitNum":"1","invert":true,"x":1790,"y":1360,"wires":[[]]},{"id":"77976be4.cd66c4","type":"mcp23017output","z":"ac30bd52.85a18","name":"#15Off","chip":"41285cb0.3facd4","bitNum":"2","invert":true,"x":1670,"y":1240,"wires":[[]]},{"id":"bc4e6957.ecd618","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":1280,"wires":[["493d0ab3.70bac4"]]},{"id":"493d0ab3.70bac4","type":"mcp23017output","z":"ac30bd52.85a18","name":"#15On","chip":"41285cb0.3facd4","bitNum":"3","invert":true,"x":1790,"y":1280,"wires":[[]]},{"id":"21c9a92f.3e3146","type":"mcp23017output","z":"ac30bd52.85a18","name":"#14Off","chip":"41285cb0.3facd4","bitNum":"4","invert":true,"x":1670,"y":1160,"wires":[[]]},{"id":"d87acbbb.2ca0b8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":1200,"wires":[["9ff5ed01.041f2"]]},{"id":"9ff5ed01.041f2","type":"mcp23017output","z":"ac30bd52.85a18","name":"#14On","chip":"41285cb0.3facd4","bitNum":"5","invert":true,"x":1790,"y":1200,"wires":[[]]},{"id":"65b659ae.ad5748","type":"mcp23017output","z":"ac30bd52.85a18","name":"#13Off","chip":"41285cb0.3facd4","bitNum":"6","invert":true,"x":1670,"y":1080,"wires":[[]]},{"id":"e736e8a3.c90d98","type":"mcp23017output","z":"ac30bd52.85a18","name":"#13On","chip":"41285cb0.3facd4","bitNum":"7","invert":true,"x":1790,"y":1120,"wires":[[]]},{"id":"726385af.cbfbbc","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":1120,"wires":[["e736e8a3.c90d98"]]},{"id":"1ef377b5.d94268","type":"ui_slider","z":"ac30bd52.85a18","name":"","label":"Head Fan","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":160,"y":320,"wires":[[]]},{"id":"d1b26220.38257","type":"mcp23017output","z":"ac30bd52.85a18","name":"#12Off","chip":"41285cb0.3facd4","bitNum":"8","invert":true,"x":1670,"y":1000,"wires":[[]]},{"id":"3dfcec6a.5244f4","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":1040,"wires":[["e4744202.38795"]]},{"id":"e4744202.38795","type":"mcp23017output","z":"ac30bd52.85a18","name":"#12On","chip":"41285cb0.3facd4","bitNum":"9","invert":true,"x":1790,"y":1040,"wires":[[]]},{"id":"486a0f5d.ae388","type":"mcp23017output","z":"ac30bd52.85a18","name":"#11Off","chip":"41285cb0.3facd4","bitNum":"10","invert":true,"x":1670,"y":920,"wires":[[]]},{"id":"4d5a0268.7ad36c","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":960,"wires":[["ef72418.7f601c"]]},{"id":"ef72418.7f601c","type":"mcp23017output","z":"ac30bd52.85a18","name":"#11On","chip":"41285cb0.3facd4","bitNum":"11","invert":true,"x":1790,"y":960,"wires":[[]]},{"id":"f0c33766.eb9e48","type":"mcp23017output","z":"ac30bd52.85a18","name":"#10Off","chip":"41285cb0.3facd4","bitNum":"12","invert":true,"x":1670,"y":840,"wires":[[]]},{"id":"fb4b040b.0385a8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":880,"wires":[["92322b33.e20918"]]},{"id":"92322b33.e20918","type":"mcp23017output","z":"ac30bd52.85a18","name":"#10On","chip":"41285cb0.3facd4","bitNum":"13","invert":true,"x":1790,"y":880,"wires":[[]]},{"id":"c7e7035d.744af","type":"mcp23017output","z":"ac30bd52.85a18","name":"#09Off","chip":"41285cb0.3facd4","bitNum":"14","invert":true,"x":1670,"y":760,"wires":[[]]},{"id":"3018cacc.6b7826","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":800,"wires":[["87e022e0.b740e"]]},{"id":"87e022e0.b740e","type":"mcp23017output","z":"ac30bd52.85a18","name":"#09On","chip":"41285cb0.3facd4","bitNum":"15","invert":true,"x":1790,"y":800,"wires":[[]]},{"id":"dfa7d2d0.df1a7","type":"mcp23017output","z":"ac30bd52.85a18","name":"#08Off","chip":"c2ed3f14.077b4","bitNum":"0","invert":true,"x":1670,"y":680,"wires":[[]]},{"id":"26319efd.c65412","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":720,"wires":[["46999b7e.d8bd84"]]},{"id":"46999b7e.d8bd84","type":"mcp23017output","z":"ac30bd52.85a18","name":"#08On","chip":"c2ed3f14.077b4","bitNum":"1","invert":true,"x":1790,"y":720,"wires":[[]]},{"id":"7dea8df3.2e7414","type":"mcp23017output","z":"ac30bd52.85a18","name":"#07Off","chip":"c2ed3f14.077b4","bitNum":"2","invert":true,"x":1670,"y":600,"wires":[[]]},{"id":"580d225e.eab22c","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":640,"wires":[["ff85fbb4.c507f8"]]},{"id":"ff85fbb4.c507f8","type":"mcp23017output","z":"ac30bd52.85a18","name":"#07On","chip":"c2ed3f14.077b4","bitNum":"3","invert":true,"x":1790,"y":640,"wires":[[]]},{"id":"f4fb7322.f5a8a","type":"mcp23017output","z":"ac30bd52.85a18","name":"#06Off","chip":"c2ed3f14.077b4","bitNum":"4","invert":true,"x":1670,"y":520,"wires":[[]]},{"id":"f145353f.79ed08","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":560,"wires":[["60cf96cb.82d4c8"]]},{"id":"60cf96cb.82d4c8","type":"mcp23017output","z":"ac30bd52.85a18","name":"#06On","chip":"c2ed3f14.077b4","bitNum":"5","invert":true,"x":1790,"y":560,"wires":[[]]},{"id":"fb6018d5.da87d8","type":"mcp23017output","z":"ac30bd52.85a18","name":"#05Off","chip":"c2ed3f14.077b4","bitNum":"4","invert":true,"x":1670,"y":440,"wires":[[]]},{"id":"c8879ca6.8837","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":480,"wires":[["3b596e12.428dd2"]]},{"id":"3b596e12.428dd2","type":"mcp23017output","z":"ac30bd52.85a18","name":"#05On","chip":"c2ed3f14.077b4","bitNum":"5","invert":true,"x":1790,"y":480,"wires":[[]]},{"id":"68495ad9.6c7624","type":"mcp23017output","z":"ac30bd52.85a18","name":"#04Off","chip":"c2ed3f14.077b4","bitNum":"6","invert":true,"x":1670,"y":360,"wires":[[]]},{"id":"dbd0a7a9.ba3a28","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":400,"wires":[["6d4649c5.39c988"]]},{"id":"6d4649c5.39c988","type":"mcp23017output","z":"ac30bd52.85a18","name":"#04On","chip":"c2ed3f14.077b4","bitNum":"7","invert":true,"x":1790,"y":400,"wires":[[]]},{"id":"ba985f76.e2125","type":"mcp23017output","z":"ac30bd52.85a18","name":"#03Off","chip":"c2ed3f14.077b4","bitNum":"8","invert":true,"x":1670,"y":280,"wires":[[]]},{"id":"5aabf34e.7e21bc","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":320,"wires":[["8e045cdc.e0fd7"]]},{"id":"8e045cdc.e0fd7","type":"mcp23017output","z":"ac30bd52.85a18","name":"#03On","chip":"c2ed3f14.077b4","bitNum":"9","invert":true,"x":1790,"y":320,"wires":[[]]},{"id":"d9d97a3c.e84ea8","type":"mcp23017output","z":"ac30bd52.85a18","name":"#02Off","chip":"c2ed3f14.077b4","bitNum":"10","invert":true,"x":1670,"y":200,"wires":[[]]},{"id":"93734c06.98eab","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":240,"wires":[["c05b1316.21a5a"]]},{"id":"c05b1316.21a5a","type":"mcp23017output","z":"ac30bd52.85a18","name":"#02On","chip":"c2ed3f14.077b4","bitNum":"11","invert":true,"x":1790,"y":240,"wires":[[]]},{"id":"68945678.0fad28","type":"mcp23017output","z":"ac30bd52.85a18","name":"#01Off","chip":"c2ed3f14.077b4","bitNum":"12","invert":true,"x":1670,"y":120,"wires":[[]]},{"id":"e9f97c82.82e1b","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1670,"y":160,"wires":[["e0bb16c3.cc3e58"]]},{"id":"e0bb16c3.cc3e58","type":"mcp23017output","z":"ac30bd52.85a18","name":"#01On","chip":"c2ed3f14.077b4","bitNum":"13","invert":true,"x":1790,"y":160,"wires":[[]]},{"id":"96f3c0f6.a39d","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC01Off","chip":"1a9cfbdd.0b9594","bitNum":"1","invert":true,"x":1160,"y":120,"wires":[[]]},{"id":"a17bb978.ceebf8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":160,"wires":[["941367e.8966f98"]]},{"id":"941367e.8966f98","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC01On","chip":"1a9cfbdd.0b9594","bitNum":"0","invert":true,"x":1280,"y":160,"wires":[[]]},{"id":"746651e6.c56ae","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC02Off","chip":"1a9cfbdd.0b9594","bitNum":"3","invert":true,"x":1160,"y":200,"wires":[[]]},{"id":"d438d104.2064b","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":240,"wires":[["17f01370.45970d"]]},{"id":"17f01370.45970d","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC02On","chip":"1a9cfbdd.0b9594","bitNum":"2","invert":true,"x":1280,"y":240,"wires":[[]]},{"id":"38644ff8.2174a","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC03Off","chip":"1a9cfbdd.0b9594","bitNum":"5","invert":true,"x":1160,"y":280,"wires":[[]]},{"id":"cb43a47.342df58","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":320,"wires":[["8ddc0372.8afd5"]]},{"id":"8ddc0372.8afd5","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC03On","chip":"1a9cfbdd.0b9594","bitNum":"4","invert":true,"x":1280,"y":320,"wires":[[]]},{"id":"39e972d2.39418e","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC04Off","chip":"1a9cfbdd.0b9594","bitNum":"7","invert":true,"x":1160,"y":360,"wires":[[]]},{"id":"283b779b.953b18","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":400,"wires":[["c164e7a1.ac6f28"]]},{"id":"c164e7a1.ac6f28","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC04On","chip":"1a9cfbdd.0b9594","bitNum":"6","invert":true,"x":1280,"y":400,"wires":[[]]},{"id":"ec95800b.a833d","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC05Off","chip":"1a9cfbdd.0b9594","bitNum":"9","invert":true,"x":1160,"y":440,"wires":[[]]},{"id":"e6411597.7a88d8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":480,"wires":[["f94541e7.2a5d1"]]},{"id":"f94541e7.2a5d1","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC05On","chip":"1a9cfbdd.0b9594","bitNum":"8","invert":true,"x":1280,"y":480,"wires":[[]]},{"id":"8b97f529.9bc5c8","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC06Off","chip":"1a9cfbdd.0b9594","bitNum":"11","invert":true,"x":1160,"y":520,"wires":[[]]},{"id":"b0e0ad84.b35f5","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":560,"wires":[["570510d9.8da6b"]]},{"id":"570510d9.8da6b","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC06On","chip":"1a9cfbdd.0b9594","bitNum":"10","invert":true,"x":1280,"y":560,"wires":[[]]},{"id":"a4e52b83.4f1738","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC07Off","chip":"1a9cfbdd.0b9594","bitNum":"13","invert":true,"x":1160,"y":600,"wires":[[]]},{"id":"cf7afab2.3d6018","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":640,"wires":[["e3021b11.58fd98"]]},{"id":"e3021b11.58fd98","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC07On","chip":"1a9cfbdd.0b9594","bitNum":"12","invert":true,"x":1280,"y":640,"wires":[[]]},{"id":"976d8f76.93841","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC08Off","chip":"1a9cfbdd.0b9594","bitNum":"15","invert":true,"x":1160,"y":680,"wires":[[]]},{"id":"9c0e05d1.274938","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":720,"wires":[["71f2d0f5.b0ccb"]]},{"id":"71f2d0f5.b0ccb","type":"mcp23017output","z":"ac30bd52.85a18","name":"AC08On","chip":"1a9cfbdd.0b9594","bitNum":"14","invert":true,"x":1280,"y":720,"wires":[[]]},{"id":"6a837a7b.038054","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC01Off","chip":"11358729.983779","bitNum":"1","invert":true,"x":1160,"y":760,"wires":[[]]},{"id":"2789c8a9.6be958","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":800,"wires":[["1fa142a6.380cad"]]},{"id":"1fa142a6.380cad","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC01On","chip":"11358729.983779","bitNum":"0","invert":true,"x":1280,"y":800,"wires":[[]]},{"id":"64c296ba.6f3ea8","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC02Off","chip":"11358729.983779","bitNum":"3","invert":true,"x":1160,"y":840,"wires":[[]]},{"id":"6c7f802e.cc53b","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":880,"wires":[["b2cebf75.348c8"]]},{"id":"b2cebf75.348c8","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC02On","chip":"11358729.983779","bitNum":"2","invert":true,"x":1280,"y":880,"wires":[[]]},{"id":"f86a084d.be46b8","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC03Off","chip":"11358729.983779","bitNum":"5","invert":true,"x":1160,"y":920,"wires":[[]]},{"id":"a64173da.2581a","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":960,"wires":[["c8a6a92d.535458"]]},{"id":"c8a6a92d.535458","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC03On","chip":"11358729.983779","bitNum":"4","invert":true,"x":1280,"y":960,"wires":[[]]},{"id":"839249db.67b688","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC04Off","chip":"11358729.983779","bitNum":"7","invert":true,"x":1160,"y":1000,"wires":[[]]},{"id":"58e0f1c1.06a44","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":1040,"wires":[["a7afab1c.912e78"]]},{"id":"a7afab1c.912e78","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC04On","chip":"11358729.983779","bitNum":"6","invert":true,"x":1280,"y":1040,"wires":[[]]},{"id":"61f8a93e.0d2028","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC05Off","chip":"11358729.983779","bitNum":"9","invert":true,"x":1160,"y":1080,"wires":[[]]},{"id":"332d93eb.c2b85c","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":1120,"wires":[["c410b32d.c7308"]]},{"id":"c410b32d.c7308","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC05On","chip":"11358729.983779","bitNum":"8","invert":true,"x":1280,"y":1120,"wires":[[]]},{"id":"5976055d.3d465c","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC06Off","chip":"11358729.983779","bitNum":"11","invert":true,"x":1160,"y":1160,"wires":[[]]},{"id":"713a33d9.485bdc","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":1200,"wires":[["1882de62.8576d2"]]},{"id":"1882de62.8576d2","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC06On","chip":"11358729.983779","bitNum":"10","invert":true,"x":1280,"y":1200,"wires":[[]]},{"id":"baac6da6.6ebd1","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC07Off","chip":"11358729.983779","bitNum":"13","invert":true,"x":1160,"y":1240,"wires":[[]]},{"id":"c7f398cb.f300c8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":1280,"wires":[["13bcaf9.c6c645"]]},{"id":"13bcaf9.c6c645","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC07On","chip":"11358729.983779","bitNum":"12","invert":true,"x":1280,"y":1280,"wires":[[]]},{"id":"b90866ff.c7a6e8","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC08Off","chip":"11358729.983779","bitNum":"15","invert":true,"x":1160,"y":1320,"wires":[[]]},{"id":"80146670.cf1818","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":1150,"y":1360,"wires":[["82671977.73a388"]]},{"id":"82671977.73a388","type":"mcp23017output","z":"ac30bd52.85a18","name":"DC08On","chip":"11358729.983779","bitNum":"14","invert":true,"x":1280,"y":1360,"wires":[[]]},{"id":"b707b060.980f9","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Inverter","tooltip":"Connect Inverter to AC Bus","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-random","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"fa-random","offcolor":"#555555","x":2000,"y":280,"wires":[[]]},{"id":"3b305078.76e3d","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Circulation Pump","tooltip":"Circulation pump for heating system","group":"70bbe0ae.e49bf","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"refresh","oncolor":"#B8B8B8","offvalue":"false","offvalueType":"bool","officon":"refresh","offcolor":"#FF8D85","x":970,"y":620,"wires":[["a4e52b83.4f1738","cf7afab2.3d6018"]]},{"id":"53415baf.579df4","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary01","chip":"782602be.c78ecc","bitNum":"0","invert":true,"x":2860,"y":880,"wires":[[]]},{"id":"fd31b525.149178","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary02","chip":"782602be.c78ecc","bitNum":"1","invert":true,"x":2860,"y":920,"wires":[[]]},{"id":"266e13d0.298fcc","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary03","chip":"782602be.c78ecc","bitNum":"2","invert":true,"x":2860,"y":960,"wires":[[]]},{"id":"2d42a2f5.b67d2e","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary04","chip":"782602be.c78ecc","bitNum":"3","invert":true,"x":2860,"y":1000,"wires":[[]]},{"id":"d211651c.4b4808","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary05","chip":"782602be.c78ecc","bitNum":"4","invert":true,"x":2860,"y":1040,"wires":[[]]},{"id":"e410df7f.4b49f","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary06","chip":"782602be.c78ecc","bitNum":"5","invert":true,"x":2860,"y":1080,"wires":[[]]},{"id":"cc8f7d42.46ccd","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary07","chip":"782602be.c78ecc","bitNum":"6","invert":true,"x":2860,"y":1120,"wires":[[]]},{"id":"fa8018e0.2c5428","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary08","chip":"782602be.c78ecc","bitNum":"7","invert":true,"x":2860,"y":1160,"wires":[[]]},{"id":"f95bca8b.9631b8","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary09","chip":"782602be.c78ecc","bitNum":"8","invert":true,"x":2860,"y":1200,"wires":[[]]},{"id":"8fca5ae7.dac258","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary10","chip":"782602be.c78ecc","bitNum":"9","invert":true,"x":2860,"y":1240,"wires":[[]]},{"id":"c93aee87.df778","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary11","chip":"782602be.c78ecc","bitNum":"10","invert":true,"x":2860,"y":1280,"wires":[[]]},{"id":"62944af7.a0db74","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary12","chip":"782602be.c78ecc","bitNum":"11","invert":true,"x":2860,"y":1320,"wires":[[]]},{"id":"53ac1dc2.da7694","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary13","chip":"782602be.c78ecc","bitNum":"12","invert":true,"x":2860,"y":1360,"wires":[[]]},{"id":"fe99b4fb.8c4108","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary14","chip":"782602be.c78ecc","bitNum":"13","invert":true,"x":2860,"y":1400,"wires":[[]]},{"id":"928b3b7a.31af58","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary15","chip":"782602be.c78ecc","bitNum":"14","invert":true,"x":2860,"y":1440,"wires":[[]]},{"id":"4cda4863.713778","type":"mcp23017output","z":"ac30bd52.85a18","name":"Momentary16","chip":"782602be.c78ecc","bitNum":"15","invert":true,"x":2860,"y":1480,"wires":[[]]},{"id":"485c6175.4a247","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX01Off","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":2820,"y":140,"wires":[[]]},{"id":"9638ec9a.83582","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":180,"wires":[["353d09d7.7e9946"]]},{"id":"353d09d7.7e9946","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX01On","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":2940,"y":180,"wires":[[]]},{"id":"ebeb0691.f17998","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX02Off","chip":"1347bb67.03ca35","bitNum":"3","invert":true,"x":2820,"y":220,"wires":[[]]},{"id":"355f2c40.34d2c4","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":260,"wires":[["f39bafab.806d1"]]},{"id":"f39bafab.806d1","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX02On","chip":"1347bb67.03ca35","bitNum":"2","invert":true,"x":2940,"y":260,"wires":[[]]},{"id":"45ad3b07.8e0a54","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX03Off","chip":"1347bb67.03ca35","bitNum":"5","invert":true,"x":2820,"y":300,"wires":[[]]},{"id":"f6dc5e81.de45e","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":340,"wires":[["6a997db4.65e9e4"]]},{"id":"6a997db4.65e9e4","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX03On","chip":"1347bb67.03ca35","bitNum":"4","invert":true,"x":2940,"y":340,"wires":[[]]},{"id":"cb1d10ae.e5de3","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX04Off","chip":"1347bb67.03ca35","bitNum":"7","invert":true,"x":2820,"y":380,"wires":[[]]},{"id":"e027d883.67a2f8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":420,"wires":[["106b1c77.9318d4"]]},{"id":"106b1c77.9318d4","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX04On","chip":"1347bb67.03ca35","bitNum":"6","invert":true,"x":2940,"y":420,"wires":[[]]},{"id":"e08c8e21.9fd95","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX05Off","chip":"1347bb67.03ca35","bitNum":"9","invert":true,"x":2820,"y":460,"wires":[[]]},{"id":"635cfee.9e161","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":500,"wires":[["f5417827.fb53e8"]]},{"id":"f5417827.fb53e8","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX05On","chip":"1347bb67.03ca35","bitNum":"8","invert":true,"x":2940,"y":500,"wires":[[]]},{"id":"58065d57.8d1fd4","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX06Off","chip":"1347bb67.03ca35","bitNum":"11","invert":true,"x":2820,"y":540,"wires":[[]]},{"id":"d96410e8.6d624","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":580,"wires":[["3721b16d.5056ee"]]},{"id":"3721b16d.5056ee","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX06On","chip":"1347bb67.03ca35","bitNum":"10","invert":true,"x":2940,"y":580,"wires":[[]]},{"id":"6de41507.d5a33c","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX07Off","chip":"1347bb67.03ca35","bitNum":"13","invert":true,"x":2820,"y":620,"wires":[[]]},{"id":"304e70d5.e7a51","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":660,"wires":[["8ce07da3.078cd"]]},{"id":"8ce07da3.078cd","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX07On","chip":"1347bb67.03ca35","bitNum":"12","invert":true,"x":2940,"y":660,"wires":[[]]},{"id":"2242533e.b5be1c","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX08Off","chip":"1347bb67.03ca35","bitNum":"15","invert":true,"x":2820,"y":700,"wires":[[]]},{"id":"e9d2b48e.f7c7d8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2810,"y":740,"wires":[["395f89e6.64b7b6"]]},{"id":"395f89e6.64b7b6","type":"mcp23017output","z":"ac30bd52.85a18","name":"AUX08On","chip":"1347bb67.03ca35","bitNum":"14","invert":true,"x":2940,"y":740,"wires":[[]]},{"id":"9d874212.0914a","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other5","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":1990,"y":460,"wires":[["96008edb.fce64","57f6e7d7.eea8a8","4071651a.3b468c","b0350799.4ed0d8","1f7aab50.bc6b25","df5a035b.b46f9","d4ba1474.208bc8","ba4adde5.e0dd7"]]},{"id":"eac5d9eb.958798","type":"ui_template","z":"ac30bd52.85a18","group":"3f126a42.d45686","name":"Windlass","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"windlass\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Windlass\n      <i class=\"fa fa-anchor\"></i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#windlass').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"windlass\",\"payload\": true});\n});\n\n$('#windlass').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"windlass\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2280,"y":1180,"wires":[[]]},{"id":"346883c8.61858c","type":"ui_template","z":"ac30bd52.85a18","group":"9bfb2502.fd9238","name":"Overboard Pump","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"overboard_pump\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Overboard Pump\n      <i class=\"material-icons\">mi-delete_sweep</i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#overboard_pump').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"overboard_pump\",\"payload\": true});\n});\n\n$('#overboard_pump').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"overboard_pump\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2250,"y":1220,"wires":[["3fbd21f9.cf2f5e"]]},{"id":"6911dc02.a91074","type":"ui_template","z":"ac30bd52.85a18","group":"fbe2d24d.1395d","name":"Bilge Pump 1","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"bilge_pump_1\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Bilge Pump #1\n      <i class=\"material-icons\">local_drink</i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#bilge_pump_1').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": true});\n});\n\n$('#bilge_pump_1').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1260,"wires":[["1278aebf.9d5c41"]]},{"id":"1fd7304a.5e34b","type":"ui_template","z":"ac30bd52.85a18","group":"fbe2d24d.1395d","name":"Bilge Pump 2","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"bilge_pump_2\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:{{msg.topic === 'countdown' ? cyan: 'dark-cyan' }}\">\n      Bilge Pump #2\n      <i class=\"material-icons\">local_drink</i>\n      {{msg.topic === 'countdown' ? msg.payload : '' }}\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#bilge_pump_2').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": true});\n});\n\n$('#bilge_pump_2').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1300,"wires":[["5173a55c.98a3cc"]]},{"id":"b1fce5f8.f21208","type":"ui_template","z":"ac30bd52.85a18","group":"e017c50e.4ffb68","name":"Stop Engine","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"stop_engine\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Stop\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#stop_engine').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"stop_engine\",\"payload\": true});\n});\n\n$('#stop_engine').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"stop_engine\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1340,"wires":[[]]},{"id":"fc47fea4.dcb05","type":"ui_template","z":"ac30bd52.85a18","group":"e017c50e.4ffb68","name":"Start Engine","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"start_engine\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n       Start\n      <i class=\"fa fa-play-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#start_engine').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"start_engine\",\"payload\": true});\n});\n\n$('#start_engine').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"start_engine\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1380,"wires":[[]]},{"id":"f041686.6f52598","type":"ui_template","z":"ac30bd52.85a18","group":"3f126a42.d45686","name":"Horn","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"horn\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    background-color:dark-cyan\">\n      Horn\n      <i class=\"fa fa-bullhorn\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#horn').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"horn\",\"payload\": true});\n});\n\n$('#horn').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"horn\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":1420,"wires":[[]]},{"id":"f32dab97.cf7498","type":"ui_template","z":"ac30bd52.85a18","group":"3f126a42.d45686","name":"Other","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"other\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Other\n      <i class=\"fa fa-random\"></i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#other').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"other\",\"payload\": true});\n});\n\n$('#other').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"other\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":920,"wires":[[]]},{"id":"c1e5e405.841d28","type":"ui_template","z":"ac30bd52.85a18","group":"3f126a42.d45686","name":"Others","order":7,"width":"0","height":"0","format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\n</style>\n\n<div id=\"others\">\n   <md-button style=\"width: 100%; \n                    height: 48px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:dark-cyan\">\n      Others\n      <i class=\"fa fa-sort\"></i>\n   </md-button>\n</div>\n\n<script>\n(function($scope) {\n    \n$('#others').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"others\",\"payload\": true});\n});\n\n$('#others').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"others\",\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":960,"wires":[[]]},{"id":"49ba3e7d.24ff2","type":"trigger","z":"ac30bd52.85a18","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2340,"y":1020,"wires":[[]]},{"id":"bf63076a.2bdb68","type":"trigger","z":"ac30bd52.85a18","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2340,"y":1060,"wires":[[]]},{"id":"88884c0.ec077b8","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Lock","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"lock","oncolor":"#00bfff","offvalue":"false","offvalueType":"bool","officon":"lock_open","offcolor":"#aa00ff","x":1990,"y":1040,"wires":[["e3c0d8a8.e93fd8","49ba3e7d.24ff2"]]},{"id":"e3c0d8a8.e93fd8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2170,"y":1060,"wires":[["bf63076a.2bdb68"]]},{"id":"ba4adde5.e0dd7","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP01Off","chip":"96c351a9.d5fc6","bitNum":"0","invert":true,"x":2220,"y":120,"wires":[[]]},{"id":"c49d3481.0da258","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2210,"y":160,"wires":[["29ddf4ae.ea672c"]]},{"id":"29ddf4ae.ea672c","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP01On","chip":"96c351a9.d5fc6","bitNum":"0","invert":true,"x":2340,"y":160,"wires":[[]]},{"id":"d4ba1474.208bc8","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP02Off","chip":"96c351a9.d5fc6","bitNum":"3","invert":true,"x":2220,"y":220,"wires":[[]]},{"id":"c48a8a74.159dc8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2210,"y":260,"wires":[["cf7bdda4.7938e"]]},{"id":"cf7bdda4.7938e","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP02On","chip":"96c351a9.d5fc6","bitNum":"2","invert":true,"x":2340,"y":260,"wires":[[]]},{"id":"df5a035b.b46f9","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP03Off","chip":"96c351a9.d5fc6","bitNum":"5","invert":true,"x":2220,"y":320,"wires":[[]]},{"id":"1f65e24.ad1b91e","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2210,"y":360,"wires":[["fa3fde49.2d98e"]]},{"id":"fa3fde49.2d98e","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP03On","chip":"96c351a9.d5fc6","bitNum":"4","invert":true,"x":2340,"y":360,"wires":[[]]},{"id":"96008edb.fce64","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP04Off","chip":"96c351a9.d5fc6","bitNum":"7","invert":true,"x":2220,"y":420,"wires":[[]]},{"id":"4306025f.2fc3dc","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2210,"y":460,"wires":[["ff53f454.aad088"]]},{"id":"ff53f454.aad088","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP04On","chip":"96c351a9.d5fc6","bitNum":"6","invert":true,"x":2340,"y":460,"wires":[[]]},{"id":"57f6e7d7.eea8a8","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP05Off","chip":"96c351a9.d5fc6","bitNum":"9","invert":true,"x":2240,"y":520,"wires":[[]]},{"id":"64e77799.1f7938","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2230,"y":560,"wires":[["a82baf36.cc222"]]},{"id":"a82baf36.cc222","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP05On","chip":"96c351a9.d5fc6","bitNum":"8","invert":true,"x":2360,"y":560,"wires":[[]]},{"id":"4071651a.3b468c","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP06Off","chip":"96c351a9.d5fc6","bitNum":"11","invert":true,"x":2220,"y":600,"wires":[[]]},{"id":"70b4eb32.6bf554","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2210,"y":640,"wires":[["cfe5079.6a8dff8"]]},{"id":"cfe5079.6a8dff8","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP06On","chip":"96c351a9.d5fc6","bitNum":"10","invert":true,"x":2340,"y":640,"wires":[[]]},{"id":"b0350799.4ed0d8","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP07Off","chip":"96c351a9.d5fc6","bitNum":"13","invert":true,"x":2200,"y":680,"wires":[[]]},{"id":"5d6807c3.e8b4c8","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2190,"y":720,"wires":[["e5ff0211.5eeae"]]},{"id":"e5ff0211.5eeae","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP07On","chip":"96c351a9.d5fc6","bitNum":"12","invert":true,"x":2320,"y":720,"wires":[[]]},{"id":"1f7aab50.bc6b25","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP08Off","chip":"96c351a9.d5fc6","bitNum":"15","invert":true,"x":2200,"y":760,"wires":[[]]},{"id":"38d38185.73d7ae","type":"InvertUltimate","z":"ac30bd52.85a18","name":"Invert","x":2190,"y":800,"wires":[["34ee2a27.593836"]]},{"id":"34ee2a27.593836","type":"mcp23017output","z":"ac30bd52.85a18","name":"HP08On","chip":"96c351a9.d5fc6","bitNum":"14","invert":true,"x":2320,"y":800,"wires":[[]]},{"id":"aff1f937.2497e8","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other1","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2550,"y":260,"wires":[["485c6175.4a247","ebeb0691.f17998","45ad3b07.8e0a54","cb1d10ae.e5de3","e08c8e21.9fd95","58065d57.8d1fd4","6de41507.d5a33c"]]},{"id":"76f4e5f.7ff211c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other3","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2630,"y":1060,"wires":[["53415baf.579df4","266e13d0.298fcc","d211651c.4b4808","cc8f7d42.46ccd","f95bca8b.9631b8","c93aee87.df778","53ac1dc2.da7694","928b3b7a.31af58"]]},{"id":"4949c399.77312c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other4","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2630,"y":1140,"wires":[["fd31b525.149178","2d42a2f5.b67d2e","e410df7f.4b49f","fa8018e0.2c5428","8fca5ae7.dac258","62944af7.a0db74","fe99b4fb.8c4108","4cda4863.713778"]]},{"id":"8c2ff50f.bc1468","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other2","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2550,"y":340,"wires":[["9638ec9a.83582","355f2c40.34d2c4","f6dc5e81.de45e","e027d883.67a2f8","635cfee.9e161","d96410e8.6d624","304e70d5.e7a51","e9d2b48e.f7c7d8"]]},{"id":"d7176075.81834","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Other6","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":1990,"y":520,"wires":[["c49d3481.0da258","c48a8a74.159dc8","1f65e24.ad1b91e","4306025f.2fc3dc","64e77799.1f7938","70b4eb32.6bf554","5d6807c3.e8b4c8","38d38185.73d7ae"]]},{"id":"1278aebf.9d5c41","type":"trigger","z":"ac30bd52.85a18","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2420,"y":1260,"wires":[[]]},{"id":"5173a55c.98a3cc","type":"trigger","z":"ac30bd52.85a18","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2420,"y":1300,"wires":[[]]},{"id":"468a1e15.655f2","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Fresh Water Pump","tooltip":"Enable Pressure pump for fresh hot/cold water","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa fa-tint","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa fa-tint","offcolor":"#555555","x":2010,"y":320,"wires":[[]]},{"id":"3fbd21f9.cf2f5e","type":"trigger","z":"ac30bd52.85a18","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2430,"y":1220,"wires":[[]]},{"id":"2c9224fa.c38d8c","type":"ui_switch","z":"ac30bd52.85a18","name":"","label":"Washdown Pump","tooltip":"Enable washdown pressure pump","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa fa-shower","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa fa-shower","offcolor":"#555555","x":2010,"y":360,"wires":[[]]},{"id":"91847b15.392f38","type":"ui_group","name":"Lights","tab":"621795d4.5a093c","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc688149.611fe","type":"ui_group","name":"RPM","tab":"fbffba0f.997c98","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee2fd385.3b18c","type":"ui_group","name":"Temp","tab":"fbffba0f.997c98","order":3,"disp":true,"width":"6","collapse":false},{"id":"9920271d.097a98","type":"ui_group","name":"Pressure","tab":"fbffba0f.997c98","order":4,"disp":true,"width":"6","collapse":false},{"id":"211181d9.0f026e","type":"ui_group","name":"Voltage","tab":"621795d4.5a093c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b5bb579e.f0f868","type":"ui_group","name":"Current","tab":"621795d4.5a093c","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf8d44b2.bea9c8","type":"ui_group","name":"Charge","tab":"621795d4.5a093c","order":5,"disp":true,"width":"6","collapse":false},{"id":"5308aea2.0035","type":"ui_group","name":"Fresh","tab":"8bda4cbd.49784","order":3,"disp":true,"width":"6","collapse":false},{"id":"e0e94bec.d30e48","type":"ui_group","name":"Diesel","tab":"8bda4cbd.49784","order":5,"disp":true,"width":"6","collapse":false},{"id":"70bbe0ae.e49bf","type":"ui_group","name":"Climate","tab":"9cfaadc9.d3cad","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbe2d24d.1395d","type":"ui_group","name":"Grey","tab":"8bda4cbd.49784","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bfb2502.fd9238","type":"ui_group","name":"Holding","tab":"8bda4cbd.49784","order":4,"disp":true,"width":"6","collapse":false},{"id":"3f126a42.d45686","type":"ui_group","name":"Systems","tab":"621795d4.5a093c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e017c50e.4ffb68","type":"ui_group","name":"Engine","tab":"fbffba0f.997c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"41285cb0.3facd4","type":"mcp23017chip","addr":"0x21","interval":"100"},{"id":"c2ed3f14.077b4","type":"mcp23017chip","addr":"0x20","interval":"100"},{"id":"1a9cfbdd.0b9594","type":"mcp23017chip","addr":"0x25","interval":"100"},{"id":"11358729.983779","type":"mcp23017chip","addr":"0x23","interval":"100"},{"id":"782602be.c78ecc","type":"mcp23017chip","addr":"0x22","interval":"100"},{"id":"1347bb67.03ca35","type":"mcp23017chip","addr":"0x26","interval":"100"},{"id":"96c351a9.d5fc6","type":"mcp23017chip","addr":"0x24","interval":"100"},{"id":"621795d4.5a093c","type":"ui_tab","name":"Electronics","icon":"mi-electrical_services","disabled":false,"hidden":false},{"id":"fbffba0f.997c98","type":"ui_tab","name":"Engine","icon":"dashboard","disabled":false,"hidden":false},{"id":"8bda4cbd.49784","type":"ui_tab","name":"Fluids","icon":"mi-waves","disabled":false,"hidden":false},{"id":"9cfaadc9.d3cad","type":"ui_tab","name":"Climate Control","icon":"ac_unit","disabled":false,"hidden":false}]