Node-RED/flows.json
[{"id":"3fdbb98a.3e95c6","type":"tab","label":"Default Flow","disabled":false,"info":"# bungle tungle"},{"id":"8f5ce30d.7f9cd","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"V-Berth","tooltip":"The Forward Cabin","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"local_hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"local_hotel","offcolor":"#555555","x":1520,"y":1340,"wires":[["ba5f6499.d3ea88","d90391b3.3d44f"]]},{"id":"79ec2393.5c56bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Aft-Cabin","tooltip":"","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"hotel","offcolor":"#555555","x":1520,"y":1260,"wires":[["8ef1e2fe.4b31d","6544cd73.42dc34"]]},{"id":"c947d480.259768","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Galley","tooltip":"Kitchen","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant_menu","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant_menu","offcolor":"#555555","x":1530,"y":1100,"wires":[["7cc60eb2.5a3c5","f5881756.2860d8"]]},{"id":"dafb97a.fa7e268","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Head","tooltip":"Toilet","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wc","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wc","offcolor":"#555555","x":1530,"y":1180,"wires":[["447d21b3.0ba44","13b6d360.a0857d"]]},{"id":"100a5daa.b49b52","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Saloon","tooltip":"Dinette, main dining and social area","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant","offcolor":"#555555","x":1530,"y":380,"wires":[["302dbf44.ab0dd","3415c4e0.9f2e6c"]]},{"id":"773be4d5.c4e1bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Nav-Station","tooltip":"Navigation Station / Chart Table","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-architecture","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"mi-architecture","offcolor":"#000000","x":1510,"y":620,"wires":[["b4f7df44.3f715","1a81412d.acec7f"]]},{"id":"6d58d415.6564fc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Deck","tooltip":"Outside Lights","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-ship","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-ship","offcolor":"#555555","x":1530,"y":1020,"wires":[["f7104137.4da0c","55a2b877.bc4b28"]]},{"id":"d4e24d9d.2dfe9","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Anchor","tooltip":"The Anchor Light","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-anchor","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-anchor","offcolor":"#555555","x":1520,"y":860,"wires":[["655b1064.f03dc","4a1accd2.651674"]]},{"id":"ac62ba2c.049bd8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Sailing","tooltip":"Green/Red/White masthead tri-color for use under sail","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-podcast","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-podcast","offcolor":"#555555","x":1530,"y":780,"wires":[["772f9391.0d5f5c","7a7969f0.c98058"]]},{"id":"1338a4d8.5da56b","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Motoring","tooltip":"Green/Red bi-colour, stern and masthead lights for use when motoring","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"toys","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"toys","offcolor":"#555555","x":1520,"y":700,"wires":[["7fa04328.bbdfec","2d188f87.cb30e"]]},{"id":"d7bab45d.15db38","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"cc688149.611fe","order":0,"width":0,"height":0,"gtype":"gage","title":"RPM","label":"rpm","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":440,"wires":[]},{"id":"9548ea45.b90c18","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Cooling Water Temp","label":"°C","format":"{{value}}","min":"-40","max":"120","colors":["#0006b3","#0f8000","#ca3838"],"seg1":"","seg2":"","x":200,"y":480,"wires":[]},{"id":"c1b5d306.cda2b","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temp","label":"°C","format":"{{value}}","min":"-40","max":"200","colors":["#0522ff","#14ad00","#ca3838"],"seg1":"","seg2":"","x":160,"y":520,"wires":[]},{"id":"26bf6ce5.5e4064","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"9920271d.097a98","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Pressure","label":"bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":560,"wires":[]},{"id":"131ae9e9.0d3016","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Alternator/Starter","label":"V","format":"{{value}}","min":"9","max":"15","colors":["#ff0000","#23a300","#d4ff00"],"seg1":"","seg2":"","x":200,"y":740,"wires":[]},{"id":"246cae24.6df742","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"AC","label":"V","format":"{{value}}","min":"200","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":620,"wires":[]},{"id":"e685c3a4.00b9f","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Inverters","label":"V","format":"{{value}}","min":"10","max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":700,"wires":[]},{"id":"2598e9cf.be3116","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"A","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":660,"wires":[]},{"id":"9e9f56bb.659b48","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":660,"wires":[]},{"id":"a77fc439.48ce08","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Inverter","label":"W","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":700,"wires":[]},{"id":"c68d9bff.139da8","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"5308aea2.0035","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Tank","label":"liters","format":"{{value}}","min":0,"max":"146","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":1000,"wires":[]},{"id":"286bac94.0b1b84","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Front Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":880,"wires":[]},{"id":"ab48a68b.b28488","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Middle Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":920,"wires":[]},{"id":"d82dd2b6.45045","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Aft Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":180,"y":960,"wires":[]},{"id":"7c1de61f.753958","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Diesel Heater","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"fa-fire","offcolor":"#555555","x":980,"y":1020,"wires":[["5ac67c8d.47c054","8859a48c.c99ee8"]]},{"id":"30364328.dc14bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Electric Heater","tooltip":"","group":"548957a1.37c778","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-waves","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"mi-waves","offcolor":"#555555","x":980,"y":700,"wires":[["cb8e223c.e2126","634c4f3f.d78e7"]]},{"id":"1f748ea7.9ea681","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"V-Berth Fan","tooltip":"","group":"70bbe0ae.e49bf","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":120,"wires":[[]]},{"id":"d64969f2.411e48","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Aft-Cabin Fan","tooltip":"","group":"70bbe0ae.e49bf","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":160,"y":160,"wires":[[]]},{"id":"7f77af6d.14e17","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Saloon Fan","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":200,"wires":[[]]},{"id":"36babf3f.d19f8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"White Backlight","tooltip":"White backlight for nav-station gauges","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#000000","x":1500,"y":540,"wires":[["9384132.5fe68f","e5f6b116.35eb2"]]},{"id":"2a4f4cc7.daa1a4","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Red Backlight","tooltip":"Red backlight for nav-station gauges","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#000000","x":1500,"y":460,"wires":[["fa119e03.20615","ab87bbe5.9de698"]]},{"id":"b7db2356.a5e29","type":"ui_audio","z":"3fdbb98a.3e95c6","name":"Bilge Water Warning","group":"fbe2d24d.1395d","voice":"","always":"","x":400,"y":920,"wires":[]},{"id":"9481be12.96bd","type":"ui_toast","z":"3fdbb98a.3e95c6","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Bilge Water Warning","x":400,"y":960,"wires":[]},{"id":"fb3509b0.e3d5e8","type":"ui_toast","z":"3fdbb98a.3e95c6","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Holding Tank Warning","x":400,"y":1000,"wires":[]},{"id":"1482aaf7.57d2b5","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"9bfb2502.fd9238","order":0,"width":0,"height":0,"gtype":"gage","title":"Holding Tank","label":"%","format":"{{value}}","min":0,"max":"164","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":840,"wires":[]},{"id":"e5b78814.1b0188","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"#0000FF","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"#555555","x":990,"y":380,"wires":[["651395b5.a2c91c","eec1e9e.9cdc418"]]},{"id":"7b108d14.d09e14","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"SSB","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"radio","offcolor":"#555555","x":1010,"y":1100,"wires":[["7eefda7a.3405b4","56d15632.8ae2e8"]]},{"id":"20fbc37d.98169c","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"VHF","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wifi_tethering","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"wifi_tethering","offcolor":"#555555","x":1010,"y":780,"wires":[["cd84ec8e.29e2d","b739c9d0.afbac8"]]},{"id":"3b14a0c2.c472","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Fridge","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"#0099ff","offvalue":"false","offvalueType":"bool","officon":"fa-snowflake-o","offcolor":"#555555","x":1010,"y":860,"wires":[["81e551a2.4f66b","21b5df39.f1246"]]},{"id":"81f1a134.bbad4","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Freezer","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"ac_unit","oncolor":"#00ddff","offvalue":"false","offvalueType":"bool","officon":"ac_unit","offcolor":"#555555","x":1000,"y":940,"wires":[["5abfaadb.7e9c44","4f26876d.1d3d48"]]},{"id":"a6f4d62.09b4328","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Gauges & Sensors","tooltip":"","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tachometer","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"fa-tachometer","offcolor":"#555555","x":1490,"y":140,"wires":[["42570394.231a9c","d2a6fb1c.eb10c8"]]},{"id":"d62e78bb.8b73c8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Transducers","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-settings_input_antenna","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-settings_input_antenna","offcolor":" #555555","x":1510,"y":220,"wires":[["afe4d80.e7b7728","954af3b4.5f1de"]]},{"id":"28e027ea.1a1818","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Radar","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"network_check","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"network_check","offcolor":"#555555","x":1010,"y":1180,"wires":[["92284951.6a95c8","f2365a89.80de28"]]},{"id":"fc7d0605.69cf68","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Autopilot","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-local_airport","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"mi-local_airport","offcolor":"#555555","x":1000,"y":1340,"wires":[["2163ceb3.ef30f2","c643c896.cd5c98"]]},{"id":"c7fd5626.f83e18","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Cockpit","tooltip":"","group":"91847b15.392f38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"rowing","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"rowing","offcolor":"#555555","x":1520,"y":940,"wires":[["e1076442.94d558","10e7a2c9.ee757d"]]},{"id":"3fb36809.269848","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Stove","tooltip":"","group":"3f126a42.d45686","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-fireplace","oncolor":"#ff6e5e","offvalue":"false","offvalueType":"bool","officon":"mi-fireplace","offcolor":"#555555","x":1010,"y":1260,"wires":[["d4822813.5a0c08","361a829f.44ce5e"]]},{"id":"862b16fd.447ed8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Microwave","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-microwave","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-microwave","offcolor":"#555555","x":990,"y":300,"wires":[["30d0226e.26b50e","9aba6b35.ec6278"]]},{"id":"6c7637ac.6fb528","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Electrical Sockets","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"power","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"power","offcolor":"#555555","x":970,"y":540,"wires":[["4caec317.f5335c","55bde31e.dd951c"]]},{"id":"51b2cb78.8d8b54","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"PSU #1","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1000,"y":220,"wires":[["88c0e459.d30458","36d224dc.9b6c4c"]]},{"id":"8faabb65.4d07d8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Starter Battery Charger","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-battery_charging_full","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-battery_charging_full","offcolor":"#555555","x":950,"y":460,"wires":[["a2344fd8.2cbb8","5104b568.ce0fdc"]]},{"id":"472f0133.270d1","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Generator","tooltip":"Connect generator to AC Bus","group":"3f126a42.d45686","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-charging_station","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-charging_station","offcolor":"#555555","x":2000,"y":200,"wires":[[]]},{"id":"cb84f806.36c708","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Thermostat","tooltip":"","group":"70bbe0ae.e49bf","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":170,"y":1220,"wires":[[]]},{"id":"c9b04c8a.6e376","type":"ui_chart","z":"3fdbb98a.3e95c6","name":"","group":"70bbe0ae.e49bf","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":320,"y":1220,"wires":[[]]},{"id":"758380ef.f8e71","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Enable Thermostat","tooltip":"","group":"70bbe0ae.e49bf","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer-half","oncolor":"#FF9E9E","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer-0","offcolor":"#555555","x":500,"y":1220,"wires":[[]]},{"id":"f532fc92.0daae","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Bilge Pump #1 Auto","tooltip":"","group":"fbe2d24d.1395d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":1080,"wires":[[]]},{"id":"8e417e1e.52428","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Bilge Pump #2 Auto","tooltip":"","group":"fbe2d24d.1395d","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":1120,"wires":[[]]},{"id":"de9cf94b.ffefb8","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker High Mark","tooltip":"","group":"5308aea2.0035","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"50","max":"100","step":1,"x":730,"y":1040,"wires":[[]]},{"id":"8787f7af.2d2948","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker Low Mark","tooltip":"","group":"5308aea2.0035","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"80","step":1,"x":490,"y":1040,"wires":[[]]},{"id":"5be51006.a07f8","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Generator Low Mark","tooltip":"","group":"3f126a42.d45686","order":17,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"5","max":"80","step":1,"x":400,"y":780,"wires":[[]]},{"id":"f263625c.11744","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Generator High Mark","tooltip":"","group":"3f126a42.d45686","order":18,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"50","max":"100","step":1,"x":620,"y":780,"wires":[[]]},{"id":"dff33aed.0a4558","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Generator Autostart","tooltip":"","group":"3f126a42.d45686","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":780,"wires":[[]]},{"id":"8fb34d44.b652c","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Enable Water Maker Autostart","tooltip":"","group":"5308aea2.0035","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":1040,"wires":[[]]},{"id":"9ca1839a.2716e","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Shore Power","tooltip":"Connect Shore power to AC Bus","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2010,"y":240,"wires":[[]]},{"id":"764974cb.411dfc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Automatic overboard discharge","tooltip":"Automatically discharge the holding tank overboard","group":"9bfb2502.fd9238","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-auto_delete","oncolor":"#800000","offvalue":"false","offvalueType":"bool","officon":"mi-auto_delete","offcolor":"#555555","x":230,"y":1160,"wires":[[]]},{"id":"2a090d82.991662","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Shore","label":"A","format":"{{value}}","min":"0","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":620,"wires":[]},{"id":"e0d12a5.8c7e6d8","type":"ui_dropdown","z":"3fdbb98a.3e95c6","name":"","label":"Gear","tooltip":"Gear Engagement","place":"Neutral","group":"e017c50e.4ffb68","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Forward","value":0,"type":"num"},{"label":"Neutral","value":1,"type":"num"},{"label":"Reverse","value":2,"type":"num"}],"payload":"","topic":"","x":150,"y":360,"wires":[[]]},{"id":"38ba2c3a.438804","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Throttle","tooltip":"Throttle position","group":"2be4c060.c55e8","order":2,"width":"2","height":"6","passthru":true,"outs":"all","topic":"","min":"-30","max":"100","step":1,"x":160,"y":400,"wires":[[]]},{"id":"762af681.c57b98","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Maintain RPM","tooltip":"","group":"cc688149.611fe","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":440,"wires":[[]]},{"id":"4c4fea06.71dfe4","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Target RPM","tooltip":"The RPM to target when automatically maintaining fixed RPM","group":"cc688149.611fe","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"300","max":"5000","step":1,"x":470,"y":440,"wires":[[]]},{"id":"bad7d101.aac97","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Starter Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":740,"wires":[]},{"id":"ba5f6499.d3ea88","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#16Off","chip":"41285cb0.3facd4","bitNum":"0","invert":true,"x":1670,"y":1320,"wires":[[]]},{"id":"d90391b3.3d44f","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":1360,"wires":[["291f1a95.5e9d26"]]},{"id":"291f1a95.5e9d26","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#16On","chip":"41285cb0.3facd4","bitNum":"1","invert":true,"x":1790,"y":1360,"wires":[[]]},{"id":"8ef1e2fe.4b31d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#15Off","chip":"41285cb0.3facd4","bitNum":"2","invert":true,"x":1670,"y":1240,"wires":[[]]},{"id":"6544cd73.42dc34","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":1280,"wires":[["f811b2e6.365b2"]]},{"id":"f811b2e6.365b2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#15On","chip":"41285cb0.3facd4","bitNum":"3","invert":true,"x":1790,"y":1280,"wires":[[]]},{"id":"447d21b3.0ba44","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#14Off","chip":"41285cb0.3facd4","bitNum":"4","invert":true,"x":1670,"y":1160,"wires":[[]]},{"id":"13b6d360.a0857d","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":1200,"wires":[["379b4ec1.699442"]]},{"id":"379b4ec1.699442","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#14On","chip":"41285cb0.3facd4","bitNum":"5","invert":true,"x":1790,"y":1200,"wires":[[]]},{"id":"7cc60eb2.5a3c5","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#13Off","chip":"41285cb0.3facd4","bitNum":"6","invert":true,"x":1670,"y":1080,"wires":[[]]},{"id":"2240c2d3.190d5e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#13On","chip":"41285cb0.3facd4","bitNum":"7","invert":true,"x":1790,"y":1120,"wires":[[]]},{"id":"f5881756.2860d8","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":1120,"wires":[["2240c2d3.190d5e"]]},{"id":"993a389e.4bd348","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Head Fan","tooltip":"","group":"70bbe0ae.e49bf","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":140,"y":240,"wires":[[]]},{"id":"f7104137.4da0c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#12Off","chip":"41285cb0.3facd4","bitNum":"8","invert":true,"x":1670,"y":1000,"wires":[[]]},{"id":"55a2b877.bc4b28","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":1040,"wires":[["959f526e.c6557"]]},{"id":"959f526e.c6557","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#12On","chip":"41285cb0.3facd4","bitNum":"9","invert":true,"x":1790,"y":1040,"wires":[[]]},{"id":"e1076442.94d558","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#11Off","chip":"41285cb0.3facd4","bitNum":"10","invert":true,"x":1670,"y":920,"wires":[[]]},{"id":"10e7a2c9.ee757d","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":960,"wires":[["4796556d.a63fcc"]]},{"id":"4796556d.a63fcc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#11On","chip":"41285cb0.3facd4","bitNum":"11","invert":true,"x":1790,"y":960,"wires":[[]]},{"id":"655b1064.f03dc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#10Off","chip":"41285cb0.3facd4","bitNum":"12","invert":true,"x":1670,"y":840,"wires":[[]]},{"id":"4a1accd2.651674","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":880,"wires":[["f57747b4.77a218"]]},{"id":"f57747b4.77a218","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#10On","chip":"41285cb0.3facd4","bitNum":"13","invert":true,"x":1790,"y":880,"wires":[[]]},{"id":"772f9391.0d5f5c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#09Off","chip":"41285cb0.3facd4","bitNum":"14","invert":true,"x":1670,"y":760,"wires":[[]]},{"id":"7a7969f0.c98058","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":800,"wires":[["91c49f39.93033"]]},{"id":"91c49f39.93033","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#09On","chip":"41285cb0.3facd4","bitNum":"15","invert":true,"x":1790,"y":800,"wires":[[]]},{"id":"7fa04328.bbdfec","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#08Off","chip":"c2ed3f14.077b4","bitNum":"0","invert":true,"x":1670,"y":680,"wires":[[]]},{"id":"2d188f87.cb30e","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":720,"wires":[["38156ed6.2300e2"]]},{"id":"38156ed6.2300e2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#08On","chip":"c2ed3f14.077b4","bitNum":"1","invert":true,"x":1790,"y":720,"wires":[[]]},{"id":"b4f7df44.3f715","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#07Off","chip":"c2ed3f14.077b4","bitNum":"2","invert":true,"x":1670,"y":600,"wires":[[]]},{"id":"1a81412d.acec7f","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":640,"wires":[["747a37b4.a58388"]]},{"id":"747a37b4.a58388","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#07On","chip":"c2ed3f14.077b4","bitNum":"3","invert":true,"x":1790,"y":640,"wires":[[]]},{"id":"e5f6b116.35eb2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#06Off","chip":"c2ed3f14.077b4","bitNum":"4","invert":true,"x":1670,"y":520,"wires":[[]]},{"id":"9384132.5fe68f","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":560,"wires":[["501b617a.5bb31"]]},{"id":"501b617a.5bb31","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#06On","chip":"c2ed3f14.077b4","bitNum":"5","invert":true,"x":1790,"y":560,"wires":[[]]},{"id":"ab87bbe5.9de698","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#05Off","chip":"c2ed3f14.077b4","bitNum":"4","invert":true,"x":1670,"y":440,"wires":[[]]},{"id":"fa119e03.20615","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":480,"wires":[["6bd1f475.2420cc"]]},{"id":"6bd1f475.2420cc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#05On","chip":"c2ed3f14.077b4","bitNum":"5","invert":true,"x":1790,"y":480,"wires":[[]]},{"id":"302dbf44.ab0dd","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#04Off","chip":"c2ed3f14.077b4","bitNum":"6","invert":true,"x":1670,"y":360,"wires":[[]]},{"id":"3415c4e0.9f2e6c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":400,"wires":[["c36e9d8e.ea596"]]},{"id":"c36e9d8e.ea596","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#04On","chip":"c2ed3f14.077b4","bitNum":"7","invert":true,"x":1790,"y":400,"wires":[[]]},{"id":"cb92807a.07b2c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#03Off","chip":"c2ed3f14.077b4","bitNum":"8","invert":true,"x":1670,"y":280,"wires":[[]]},{"id":"f349e1f7.78a6b","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":320,"wires":[["464eacfd.e55394"]]},{"id":"464eacfd.e55394","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#03On","chip":"c2ed3f14.077b4","bitNum":"9","invert":true,"x":1790,"y":320,"wires":[[]]},{"id":"afe4d80.e7b7728","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#02Off","chip":"c2ed3f14.077b4","bitNum":"10","invert":true,"x":1670,"y":200,"wires":[[]]},{"id":"954af3b4.5f1de","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":240,"wires":[["1eaf0d03.194953"]]},{"id":"1eaf0d03.194953","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#02On","chip":"c2ed3f14.077b4","bitNum":"11","invert":true,"x":1790,"y":240,"wires":[[]]},{"id":"42570394.231a9c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#01Off","chip":"c2ed3f14.077b4","bitNum":"12","invert":true,"x":1670,"y":120,"wires":[[]]},{"id":"d2a6fb1c.eb10c8","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1670,"y":160,"wires":[["ae90fc7d.14087"]]},{"id":"ae90fc7d.14087","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#01On","chip":"c2ed3f14.077b4","bitNum":"13","invert":true,"x":1790,"y":160,"wires":[[]]},{"id":"a46e65b1.0c4b58","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC01Off","chip":"1a9cfbdd.0b9594","bitNum":"1","invert":true,"x":1160,"y":120,"wires":[[]]},{"id":"7796a6fb.58de18","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":160,"wires":[["d3fbf200.32b56"]]},{"id":"d3fbf200.32b56","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC01On","chip":"1a9cfbdd.0b9594","bitNum":"0","invert":true,"x":1280,"y":160,"wires":[[]]},{"id":"88c0e459.d30458","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC02Off","chip":"1a9cfbdd.0b9594","bitNum":"3","invert":true,"x":1160,"y":200,"wires":[[]]},{"id":"36d224dc.9b6c4c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":240,"wires":[["30a9c71e.460768"]]},{"id":"30a9c71e.460768","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC02On","chip":"1a9cfbdd.0b9594","bitNum":"2","invert":true,"x":1280,"y":240,"wires":[[]]},{"id":"30d0226e.26b50e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC03Off","chip":"1a9cfbdd.0b9594","bitNum":"5","invert":true,"x":1160,"y":280,"wires":[[]]},{"id":"9aba6b35.ec6278","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":320,"wires":[["252a4f1f.5b7c5"]]},{"id":"252a4f1f.5b7c5","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC03On","chip":"1a9cfbdd.0b9594","bitNum":"4","invert":true,"x":1280,"y":320,"wires":[[]]},{"id":"651395b5.a2c91c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC04Off","chip":"1a9cfbdd.0b9594","bitNum":"7","invert":true,"x":1160,"y":360,"wires":[[]]},{"id":"eec1e9e.9cdc418","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":400,"wires":[["473f025a.3a3a0c"]]},{"id":"473f025a.3a3a0c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC04On","chip":"1a9cfbdd.0b9594","bitNum":"6","invert":true,"x":1280,"y":400,"wires":[[]]},{"id":"a2344fd8.2cbb8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC05Off","chip":"1a9cfbdd.0b9594","bitNum":"9","invert":true,"x":1160,"y":440,"wires":[[]]},{"id":"5104b568.ce0fdc","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":480,"wires":[["960ae4ca.dec508"]]},{"id":"960ae4ca.dec508","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC05On","chip":"1a9cfbdd.0b9594","bitNum":"8","invert":true,"x":1280,"y":480,"wires":[[]]},{"id":"4caec317.f5335c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC06Off","chip":"1a9cfbdd.0b9594","bitNum":"11","invert":true,"x":1160,"y":520,"wires":[[]]},{"id":"55bde31e.dd951c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":560,"wires":[["99992d01.7a69f"]]},{"id":"99992d01.7a69f","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC06On","chip":"1a9cfbdd.0b9594","bitNum":"10","invert":true,"x":1280,"y":560,"wires":[[]]},{"id":"60552f59.82b9b","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC07Off","chip":"1a9cfbdd.0b9594","bitNum":"13","invert":true,"x":1160,"y":600,"wires":[[]]},{"id":"e287e6a6.831558","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":640,"wires":[["375f7e3e.1dff82"]]},{"id":"375f7e3e.1dff82","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC07On","chip":"1a9cfbdd.0b9594","bitNum":"12","invert":true,"x":1280,"y":640,"wires":[[]]},{"id":"cb8e223c.e2126","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC08Off","chip":"1a9cfbdd.0b9594","bitNum":"15","invert":true,"x":1160,"y":680,"wires":[[]]},{"id":"634c4f3f.d78e7","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":720,"wires":[["3c46d329.cd8dcc"]]},{"id":"3c46d329.cd8dcc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC08On","chip":"1a9cfbdd.0b9594","bitNum":"14","invert":true,"x":1280,"y":720,"wires":[[]]},{"id":"b739c9d0.afbac8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC01Off","chip":"11358729.983779","bitNum":"1","invert":true,"x":1160,"y":760,"wires":[[]]},{"id":"cd84ec8e.29e2d","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":800,"wires":[["70b80014.99784"]]},{"id":"70b80014.99784","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC01On","chip":"11358729.983779","bitNum":"0","invert":true,"x":1280,"y":800,"wires":[[]]},{"id":"21b5df39.f1246","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC02Off","chip":"11358729.983779","bitNum":"3","invert":true,"x":1160,"y":840,"wires":[[]]},{"id":"81e551a2.4f66b","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":880,"wires":[["78f59bb1.d194a4"]]},{"id":"78f59bb1.d194a4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC02On","chip":"11358729.983779","bitNum":"2","invert":true,"x":1280,"y":880,"wires":[[]]},{"id":"4f26876d.1d3d48","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC03Off","chip":"11358729.983779","bitNum":"5","invert":true,"x":1160,"y":920,"wires":[[]]},{"id":"5abfaadb.7e9c44","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":960,"wires":[["94ce9503.1a9638"]]},{"id":"94ce9503.1a9638","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC03On","chip":"11358729.983779","bitNum":"4","invert":true,"x":1280,"y":960,"wires":[[]]},{"id":"8859a48c.c99ee8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC04Off","chip":"11358729.983779","bitNum":"7","invert":true,"x":1160,"y":1000,"wires":[[]]},{"id":"5ac67c8d.47c054","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":1040,"wires":[["14e7d78d.dbe5c8"]]},{"id":"14e7d78d.dbe5c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC04On","chip":"11358729.983779","bitNum":"6","invert":true,"x":1280,"y":1040,"wires":[[]]},{"id":"56d15632.8ae2e8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC05Off","chip":"11358729.983779","bitNum":"9","invert":true,"x":1160,"y":1080,"wires":[[]]},{"id":"7eefda7a.3405b4","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":1120,"wires":[["c86051c0.f532c"]]},{"id":"c86051c0.f532c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC05On","chip":"11358729.983779","bitNum":"8","invert":true,"x":1280,"y":1120,"wires":[[]]},{"id":"f2365a89.80de28","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC06Off","chip":"11358729.983779","bitNum":"11","invert":true,"x":1160,"y":1160,"wires":[[]]},{"id":"92284951.6a95c8","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":1200,"wires":[["eb0f8316.38324"]]},{"id":"eb0f8316.38324","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC06On","chip":"11358729.983779","bitNum":"10","invert":true,"x":1280,"y":1200,"wires":[[]]},{"id":"361a829f.44ce5e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC07Off","chip":"11358729.983779","bitNum":"13","invert":true,"x":1160,"y":1240,"wires":[[]]},{"id":"d4822813.5a0c08","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":1280,"wires":[["ac69909e.362d4"]]},{"id":"ac69909e.362d4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC07On","chip":"11358729.983779","bitNum":"12","invert":true,"x":1280,"y":1280,"wires":[[]]},{"id":"2163ceb3.ef30f2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC08Off","chip":"11358729.983779","bitNum":"15","invert":true,"x":1160,"y":1320,"wires":[[]]},{"id":"c643c896.cd5c98","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":1150,"y":1360,"wires":[["265b7cb.891ed84"]]},{"id":"265b7cb.891ed84","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC08On","chip":"11358729.983779","bitNum":"14","invert":true,"x":1280,"y":1360,"wires":[[]]},{"id":"d37f6a2e.df6f58","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Inverter","tooltip":"Connect Inverter to AC Bus","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-random","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"fa-random","offcolor":"#555555","x":2000,"y":280,"wires":[[]]},{"id":"fd63ba58.f4ba48","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Circulation Pump","tooltip":"Circulation pump for heating system","group":"548957a1.37c778","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"refresh","oncolor":"#B8B8B8","offvalue":"false","offvalueType":"bool","officon":"refresh","offcolor":"#FF8D85","x":970,"y":620,"wires":[["60552f59.82b9b","e287e6a6.831558"]]},{"id":"f56019b7.045dc8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary01","chip":"782602be.c78ecc","bitNum":"0","invert":true,"x":2860,"y":880,"wires":[[]]},{"id":"d04381b0.b0094","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary02","chip":"782602be.c78ecc","bitNum":"1","invert":true,"x":2860,"y":920,"wires":[[]]},{"id":"53b4aaed.da8be4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary03","chip":"782602be.c78ecc","bitNum":"2","invert":true,"x":2860,"y":960,"wires":[[]]},{"id":"3cd0557f.11af3a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary04","chip":"782602be.c78ecc","bitNum":"3","invert":true,"x":2860,"y":1000,"wires":[[]]},{"id":"28829690.a43aaa","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary05","chip":"782602be.c78ecc","bitNum":"4","invert":true,"x":2860,"y":1040,"wires":[[]]},{"id":"7bbecee0.5c4f4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary06","chip":"782602be.c78ecc","bitNum":"5","invert":true,"x":2860,"y":1080,"wires":[[]]},{"id":"98ac0597.883c78","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary07","chip":"782602be.c78ecc","bitNum":"6","invert":true,"x":2860,"y":1120,"wires":[[]]},{"id":"9d0bb0fc.95088","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary08","chip":"782602be.c78ecc","bitNum":"7","invert":true,"x":2860,"y":1160,"wires":[[]]},{"id":"1af5583f.8ae9e8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary09","chip":"782602be.c78ecc","bitNum":"8","invert":true,"x":2860,"y":1200,"wires":[[]]},{"id":"2b022b5a.cdfe94","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary10","chip":"782602be.c78ecc","bitNum":"9","invert":true,"x":2860,"y":1240,"wires":[[]]},{"id":"6b9be4b5.6d825c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary11","chip":"782602be.c78ecc","bitNum":"10","invert":true,"x":2860,"y":1280,"wires":[[]]},{"id":"1050f2a2.81e93d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary12","chip":"782602be.c78ecc","bitNum":"11","invert":true,"x":2860,"y":1320,"wires":[[]]},{"id":"2ec2daaa.e51fd6","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary13","chip":"782602be.c78ecc","bitNum":"12","invert":true,"x":2860,"y":1360,"wires":[[]]},{"id":"37c21213.68889e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary14","chip":"782602be.c78ecc","bitNum":"13","invert":true,"x":2860,"y":1400,"wires":[[]]},{"id":"84355f3a.e700b","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary15","chip":"782602be.c78ecc","bitNum":"14","invert":true,"x":2860,"y":1440,"wires":[[]]},{"id":"5a9dbdd3.7ab484","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"Momentary16","chip":"782602be.c78ecc","bitNum":"15","invert":true,"x":2860,"y":1480,"wires":[[]]},{"id":"8ab862a8.9725a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX01Off","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":2820,"y":140,"wires":[[]]},{"id":"1eb2af9e.0f7ef","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":180,"wires":[["e0db68e9.c30448"]]},{"id":"e0db68e9.c30448","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX01On","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":2940,"y":180,"wires":[[]]},{"id":"c4d73c75.b830d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX02Off","chip":"1347bb67.03ca35","bitNum":"3","invert":true,"x":2820,"y":220,"wires":[[]]},{"id":"261aa005.07b2b","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":260,"wires":[["f8fcdc34.69657"]]},{"id":"f8fcdc34.69657","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX02On","chip":"1347bb67.03ca35","bitNum":"2","invert":true,"x":2940,"y":260,"wires":[[]]},{"id":"ceebc020.4cbaf","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX03Off","chip":"1347bb67.03ca35","bitNum":"5","invert":true,"x":2820,"y":300,"wires":[[]]},{"id":"11b29650.39702a","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":340,"wires":[["b35118d8.5cf118"]]},{"id":"b35118d8.5cf118","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX03On","chip":"1347bb67.03ca35","bitNum":"4","invert":true,"x":2940,"y":340,"wires":[[]]},{"id":"b8177e36.312c7","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX04Off","chip":"1347bb67.03ca35","bitNum":"7","invert":true,"x":2820,"y":380,"wires":[[]]},{"id":"31cf1475.e11f0c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":420,"wires":[["f80ab2e3.ad2dd"]]},{"id":"f80ab2e3.ad2dd","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX04On","chip":"1347bb67.03ca35","bitNum":"6","invert":true,"x":2940,"y":420,"wires":[[]]},{"id":"232cadd6.afb282","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX05Off","chip":"1347bb67.03ca35","bitNum":"9","invert":true,"x":2820,"y":460,"wires":[[]]},{"id":"e54bfab.d745408","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":500,"wires":[["eff44185.28964"]]},{"id":"eff44185.28964","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX05On","chip":"1347bb67.03ca35","bitNum":"8","invert":true,"x":2940,"y":500,"wires":[[]]},{"id":"3252bfa8.b21","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX06Off","chip":"1347bb67.03ca35","bitNum":"11","invert":true,"x":2820,"y":540,"wires":[[]]},{"id":"ee420c67.daf72","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":580,"wires":[["119fa67f.0528da"]]},{"id":"119fa67f.0528da","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX06On","chip":"1347bb67.03ca35","bitNum":"10","invert":true,"x":2940,"y":580,"wires":[[]]},{"id":"e62d2b71.f54ec8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX07Off","chip":"1347bb67.03ca35","bitNum":"13","invert":true,"x":2820,"y":620,"wires":[[]]},{"id":"eaff1f3.2b5e3e","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":660,"wires":[["c51c9a5b.774c98"]]},{"id":"c51c9a5b.774c98","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX07On","chip":"1347bb67.03ca35","bitNum":"12","invert":true,"x":2940,"y":660,"wires":[[]]},{"id":"b5bcfefc.6a247","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX08Off","chip":"1347bb67.03ca35","bitNum":"15","invert":true,"x":2820,"y":700,"wires":[[]]},{"id":"adf7b1bb.01e31","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2810,"y":740,"wires":[["44d3bab9.ed2024"]]},{"id":"44d3bab9.ed2024","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX08On","chip":"1347bb67.03ca35","bitNum":"14","invert":true,"x":2940,"y":740,"wires":[[]]},{"id":"d8957c63.89724","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other5","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":1990,"y":460,"wires":[["a7db6cd2.4b786","b1516ac7.b81668","519d9407.403f2c","e1a63ca9.015ab","aba70d5a.a9227","3d5792a6.4ad17e","7ecded27.1389c4","3cf8d8be.4330c8"]]},{"id":"d2e52e9d.74677","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Windlass","order":7,"width":"0","height":"0","format":"<div id=\"windlass\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Windlass\n      <i class=\"fa fa-anchor\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#windlass').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass\",\"payload\": true});\n    });\n    \n    $('#windlass').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2280,"y":1180,"wires":[[]]},{"id":"94c1ab3d.cf37e8","type":"ui_template","z":"3fdbb98a.3e95c6","group":"9bfb2502.fd9238","name":"Overboard Pump","order":7,"width":"0","height":"0","format":"<div id=\"overboard_pump\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Overboard Pump\n      <i class=\"material-icons\">mi-delete_sweep</i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#overboard_pump').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"overboard_pump\",\"payload\": true});\n    });\n    \n    $('#overboard_pump').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"overboard_pump\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2250,"y":1220,"wires":[["e2887bd1.cd4628"]]},{"id":"18732cbd.96a123","type":"ui_template","z":"3fdbb98a.3e95c6","group":"fbe2d24d.1395d","name":"Bilge Pump 1","order":7,"width":"0","height":"0","format":"<div id=\"bilge_pump_1\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Bilge Pump #1\n      <i class=\"material-icons\">local_drink</i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#bilge_pump_1').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": true});\n    });\n    \n    $('#bilge_pump_1').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1260,"wires":[["1576af4.429d751"]]},{"id":"c272502.1fa28b","type":"ui_template","z":"3fdbb98a.3e95c6","group":"fbe2d24d.1395d","name":"Bilge Pump 2","order":7,"width":"0","height":"0","format":"<div id=\"bilge_pump_2\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Bilge Pump #2\n      <i class=\"material-icons\">local_drink</i>\n      {{msg.topic === 'countdown' ? msg.payload : '' }}\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#bilge_pump_2').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": true});\n    });\n    \n    $('#bilge_pump_2').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1300,"wires":[["bfb7a393.a523f"]]},{"id":"65a2ece4.883bf4","type":"ui_template","z":"3fdbb98a.3e95c6","group":"e017c50e.4ffb68","name":"Stop Engine","order":7,"width":"0","height":"0","format":"<div id=\"stop_engine\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Stop\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#stop_engine').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"stop_engine\",\"payload\": true});\n    });\n    \n    $('#stop_engine').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"stop_engine\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1340,"wires":[[]]},{"id":"c568255a.164898","type":"ui_template","z":"3fdbb98a.3e95c6","group":"e017c50e.4ffb68","name":"Start Engine","order":7,"width":"0","height":"0","format":"<div id=\"start_engine\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n       Start\n      <i class=\"fa fa-play-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#start_engine').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"start_engine\",\"payload\": true});\n    });\n    \n    $('#start_engine').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"start_engine\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2270,"y":1380,"wires":[[]]},{"id":"4da011db.87705","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Horn","order":7,"width":"0","height":"0","format":"<div id=\"horn\">\n   <md-button style=\"width: 100%; \n                    height: 44px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Horn\n      <i class=\"fa fa-bullhorn\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#horn').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"horn\",\"payload\": true});\n    });\n    \n    $('#horn').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"horn\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":1420,"wires":[[]]},{"id":"4eae9f8d.7f305","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Other","order":7,"width":"0","height":"0","format":"<div id=\"other\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Other\n      <i class=\"fa fa-random\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#other').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"other\",\"payload\": true});\n    });\n    \n    $('#other').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"other\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":920,"wires":[[]]},{"id":"e21a4bc2.476db8","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Others","order":7,"width":"0","height":"0","format":"<div id=\"others\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Others\n      <i class=\"fa fa-sort\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#others').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"others\",\"payload\": true});\n    });\n    \n    $('#others').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"others\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2290,"y":960,"wires":[[]]},{"id":"3edaab25.9d7764","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2340,"y":1020,"wires":[[]]},{"id":"8e9894a5.219bb8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2340,"y":1060,"wires":[[]]},{"id":"f6e0268d.4da1e8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Lock","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"lock","oncolor":"#00bfff","offvalue":"false","offvalueType":"bool","officon":"lock_open","offcolor":"#aa00ff","x":1990,"y":1040,"wires":[["94d8dbd9.abd308","3edaab25.9d7764"]]},{"id":"94d8dbd9.abd308","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2170,"y":1060,"wires":[["8e9894a5.219bb8"]]},{"id":"3cf8d8be.4330c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP01Off","chip":"96c351a9.d5fc6","bitNum":"0","invert":true,"x":2220,"y":120,"wires":[[]]},{"id":"747c53b9.438d2c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2210,"y":160,"wires":[["99f8e3a3.5ea11"]]},{"id":"99f8e3a3.5ea11","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP01On","chip":"96c351a9.d5fc6","bitNum":"0","invert":true,"x":2340,"y":160,"wires":[[]]},{"id":"7ecded27.1389c4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP02Off","chip":"96c351a9.d5fc6","bitNum":"3","invert":true,"x":2220,"y":220,"wires":[[]]},{"id":"92aa7dd.368b08","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2210,"y":260,"wires":[["66b91623.561538"]]},{"id":"66b91623.561538","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP02On","chip":"96c351a9.d5fc6","bitNum":"2","invert":true,"x":2340,"y":260,"wires":[[]]},{"id":"3d5792a6.4ad17e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP03Off","chip":"96c351a9.d5fc6","bitNum":"5","invert":true,"x":2220,"y":320,"wires":[[]]},{"id":"f9d9f744.74e278","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2210,"y":360,"wires":[["36fb55e5.b3a99a"]]},{"id":"36fb55e5.b3a99a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP03On","chip":"96c351a9.d5fc6","bitNum":"4","invert":true,"x":2340,"y":360,"wires":[[]]},{"id":"a7db6cd2.4b786","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP04Off","chip":"96c351a9.d5fc6","bitNum":"7","invert":true,"x":2220,"y":420,"wires":[[]]},{"id":"c84084b2.f9a9e8","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2210,"y":460,"wires":[["1aa534eb.6331ab"]]},{"id":"1aa534eb.6331ab","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP04On","chip":"96c351a9.d5fc6","bitNum":"6","invert":true,"x":2340,"y":460,"wires":[[]]},{"id":"b1516ac7.b81668","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP05Off","chip":"96c351a9.d5fc6","bitNum":"9","invert":true,"x":2240,"y":520,"wires":[[]]},{"id":"dc12c0ef.f1836","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2230,"y":560,"wires":[["8ec793c7.79576"]]},{"id":"8ec793c7.79576","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP05On","chip":"96c351a9.d5fc6","bitNum":"8","invert":true,"x":2360,"y":560,"wires":[[]]},{"id":"519d9407.403f2c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP06Off","chip":"96c351a9.d5fc6","bitNum":"11","invert":true,"x":2220,"y":600,"wires":[[]]},{"id":"351a25d5.4b812a","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2210,"y":640,"wires":[["80cdc3c9.13b2e"]]},{"id":"80cdc3c9.13b2e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP06On","chip":"96c351a9.d5fc6","bitNum":"10","invert":true,"x":2340,"y":640,"wires":[[]]},{"id":"e1a63ca9.015ab","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP07Off","chip":"96c351a9.d5fc6","bitNum":"13","invert":true,"x":2200,"y":680,"wires":[[]]},{"id":"f7aa732d.8bcf1","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2190,"y":720,"wires":[["f12719ce.6593c8"]]},{"id":"f12719ce.6593c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP07On","chip":"96c351a9.d5fc6","bitNum":"12","invert":true,"x":2320,"y":720,"wires":[[]]},{"id":"aba70d5a.a9227","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP08Off","chip":"96c351a9.d5fc6","bitNum":"15","invert":true,"x":2200,"y":760,"wires":[[]]},{"id":"77761e5c.74d92","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2190,"y":800,"wires":[["ab46a0ef.84749"]]},{"id":"ab46a0ef.84749","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP08On","chip":"96c351a9.d5fc6","bitNum":"14","invert":true,"x":2320,"y":800,"wires":[[]]},{"id":"41cb5f3c.b5541","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other1","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2550,"y":260,"wires":[["8ab862a8.9725a","c4d73c75.b830d","ceebc020.4cbaf","b8177e36.312c7","232cadd6.afb282","3252bfa8.b21","e62d2b71.f54ec8"]]},{"id":"6df93d9.9d531c4","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other3","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2630,"y":1060,"wires":[["f56019b7.045dc8","53b4aaed.da8be4","28829690.a43aaa","98ac0597.883c78","1af5583f.8ae9e8","6b9be4b5.6d825c","2ec2daaa.e51fd6","84355f3a.e700b"]]},{"id":"af1b91d0.6fe1e","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other4","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2630,"y":1140,"wires":[["d04381b0.b0094","3cd0557f.11af3a","7bbecee0.5c4f4","9d0bb0fc.95088","2b022b5a.cdfe94","1050f2a2.81e93d","37c21213.68889e","5a9dbdd3.7ab484"]]},{"id":"fa4334d.b126dc8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other2","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2550,"y":340,"wires":[["1eb2af9e.0f7ef","261aa005.07b2b","11b29650.39702a","31cf1475.e11f0c","e54bfab.d745408","ee420c67.daf72","eaff1f3.2b5e3e","adf7b1bb.01e31"]]},{"id":"77529fb0.63883","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Other6","tooltip":"Just flip","group":"3f126a42.d45686","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":1990,"y":520,"wires":[["747c53b9.438d2c","92aa7dd.368b08","f9d9f744.74e278","c84084b2.f9a9e8","dc12c0ef.f1836","351a25d5.4b812a","f7aa732d.8bcf1","77761e5c.74d92"]]},{"id":"1576af4.429d751","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2420,"y":1260,"wires":[[]]},{"id":"bfb7a393.a523f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2420,"y":1300,"wires":[[]]},{"id":"b5e83a16.5b7018","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Fresh Water Pump","tooltip":"Enable Pressure pump for fresh hot/cold water","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"#555555","x":2010,"y":320,"wires":[[]]},{"id":"e2887bd1.cd4628","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2430,"y":1220,"wires":[[]]},{"id":"9724fd80.f20a9","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Washdown Pump","tooltip":"Enable washdown pressure pump","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-shower","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-shower","offcolor":"#555555","x":2010,"y":360,"wires":[[]]},{"id":"e62a7b27.276488","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"PSU #2","tooltip":"","group":"548957a1.37c778","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1000,"y":140,"wires":[["a46e65b1.0c4b58","7796a6fb.58de18"]]},{"id":"c0fee764.1fb408","type":"ui_template","z":"3fdbb98a.3e95c6","group":"","name":"Head - Template","order":2,"width":0,"height":0,"format":"<style>\n    /*\n    Pre-defined colors\n    */\n    :root {\n        --color-main-dark:  rgb(148,87,87,1);\n        --color-main-light:  rgb(0,0,66,1);\n        --color-main: var(--color-main-light);\n        --color-text-light: rgba(12, 9, 62,1);\n        --color-text-dark: rgb(254, 222, 222);\n        --color-text: var(--color-text-light);\n        --color-widget-border: rgb(84, 78, 78);\n        --color-widget-trans: rgba(178, 178, 178, 0.2);\n        --color-disabled: rgb(200, 200, 210);\n        --color-button-light: rgba(5,16,60,0.8);\n        --color-button-dark: rgba(54,16,16,0.8);\n        --color-button: var(--color-button-light);\n        --color-selection-light: rgba(100,100,155,1);\n        --color-selection-dark: rgba(154,116,116,0.8);\n        --color-selection: var(--color-selection-light);\n        --color-tint-light: rgba(182, 182, 255,1);\n        --color-tint-dark: rgba(255, 182, 182,1);\n        --color-tint: var(--color-tint-light);\n        --color-gauge-light: rgba(19,1,106,0.8);\n        --color-gauge-dark: rgba(229,156,131,0.8);\n        --color-gauge: var(--color-gauge-light);\n        --color-background-primary-light: rgba(230,246,246,1);\n        --color-background-secondary-light: rgba(188,212,217,0.5);\n        --color-background-primary-dark: rgba(17,02,02,1);\n        --color-background-secondary-dark: rgba(07,0,0,0.8);\n        --color-background-primary: var(--color-background-primary-light);\n        --color-background-secondary: var(--color-background-primary-light);\n    }\n    /*\n    Various CSS segments borrowed from the Node Red forums and customized\n    */\n    .nr-dashboard-template {\n        padding: 0px;\n    }\n    .masonry-container {\n        position: relative;\n        width: 100%;\n        height:100%;\n        margin: 0 auto;\n        background: linear-gradient(180deg,  var(--color-background-primary) 0%, var(--color-background-secondary) 100%); \n    }\n    .nr-dashboard-cardcontainer {\n        position: relative;\n        box-shadow: inset 0px 1px 4px 0px #000000bb;\n        border-radius: 10px;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        background-color: #33333300;\n        color:var(--color-text);\n        border-radius: 10px;\n        box-shadow: 0 0 8px 0px #00000080;\n    }\n    body.nr-dashboard-theme md-content md-card {\n        background-color: #33333300;\n        color: var(--color-text);\n        text-shadow: 4px 2px 4px #00000045;\n        box-shadow: 0 -1px 5px 1px #00000045;\n        border-radius: 10px;\n        border: 1px solid var(--color-widget-border);\n    }\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: var(--color-text);\n    }\n    .nr-dashboard-theme .nr-dashboard-gauge text {\n        fill: var(--color-gauge);\n        margin: 8px;\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button  {\n        display: inline-block;\n        position: relative;\n        cursor: pointer;\n        min-height: 36px;\n        min-width: 88px;\n        line-height: 36px;\n        vertical-align: middle;\n        align-items: center;\n        text-align: center;\n        border-radius: 12px;\n        box-sizing: border-box;\n        -webkit-user-select: none;\n        -moz-user-select: none;\n        -ms-user-select: none;\n        user-select: none;\n        outline: none;\n        border: 0;\n        padding: 0 6px;\n        margin: 6px 8px;\n        background: transparent;\n        color:var(--color-text);\n        white-space: nowrap;\n        text-transform: uppercase;\n        font-weight: 500;\n        font-size: 14px;\n        font-style: inherit;\n        font-variant: inherit;\n        font-family: inherit;\n        text-decoration: none;\n        overflow: hidden;\n        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n    }\n    .nr-dashboard-theme .nr-dashboard-template .md-button:disabled {\n        color: var(--color-disabled);\n    }\n    md-toolbar#toolbar{\n        color: #ffffffff;\n        background: linear-gradient(120deg, var(--color-main) 20%, var(--color-background-secondary) 100%); \n    }\n    body.nr-dashboard-theme md-sidenav {\n        color: var(--color-text);\n    }\n    body.nr-dashboard-theme md-sidenav {\n        color: var(--color-text);\n        background: linear-gradient(120deg, var(--color-main) 60%, var(--color-background-primary)); \n    }\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: var(--color-background-secondary);\n        background-color: transparent;\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: #88888800;\n        color:var(--color-text);\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n        background-color: #88888855;\n    }\n    .nr-dashboard-theme .nr-dashboard-slider .md-track {\n        background-color: var(--color-main);\n    }\n    md-slider .md-thumb {\n        box-shadow: 0 0 10px 0px #101086;\n    }    \n    .nr-dashboard-slider .md-thumb:after {\n        background-image: linear-gradient(to bottom right, var(--color-button), var(--color-tint));\n        border-style: none;\n    }\n    .nr-dashboard-theme .nr-dashboard-template ::-webkit-scrollbar {\n        background-color: #666666;\n    }\n    .nr-dashboard-theme .nr-dashboard-template ::-webkit-scrollbar-thumb {\n        background-color: var(--color-main);\n    }\n    md-switch .md-thumb {\n        background-color: var(--color-main);\n    }\n    md-switch .md-bar {\n        background-color: var(--color-background-secondary);\n    }\n    md-switch.md-checked:not([disabled]) .md-bar {\n        background-color: var(--color-button) !important; \n    }\n    md-switch.md-checked:not([disabled]) .md-thumb {\n        background-color: var(--color-text) !important;\n    }\n    .nr-dashboard-theme .nr-dashboard-numeric .value {\n        background:unset;\n        color:var(--color-text);\n    }\n    .nr-dashboard-theme md-select-menu md-option {\n        background-color:  var(--color-background-primary);\n        color: var(--color-text);\n        height: 29px;\n        border-radius: 10px;*/\n        smargin-left: 10px;\n        margin-right: 10px;\n        margin-top: 2px;\n        box-shadow: 0 0 6px 6px #24202133;\n        transition: 0.3s;\n    }\n    .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n        margin-top: -3px;\n        border-color: var(--color-widget-border);\n        color: var(--color-text);\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: var(--color-text) !important;\n        background-color: var(--color-background-primary) !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option:last-child {\n        margin-bottom: 8px;\n    }\n    .nr-dashboard-theme md-select-menu md-option:hover {\n        background-color: var(--color-selection) !important;\n        padding-left: 24px;\n    }\n    .nr-dashboard-theme md-select-menu md-option .md-ripple-container{\n        border-radius: 10px;\n    }\n</style>\n\n<script id=\"headScript\" type=\"text/javascript\">\n    /*\n    Javascript to inject UI elements into the top of all dashboards (head)\n    */\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div0 = $('<div/>');\n        var logo = new Image();\n        logo.src = '/plugins/signalk-node-red/redAdmin/red/images/Boatcontrol_Logo_Light.png'\n        logo.height = 45;\n\n        div0[0].style.margin = '10px auto';\n        div0[0].style.width = '100px';\n        div0[0].style.float = 'left';\n\n        div0.append(logo);\n        \n        \n        //add clock\n        var div1 = $('<div/>');\n        var p = $('<p/>');\n\n        div1.append(p);\n        div1[0].style.margin = '5px';\n        div1[0].style.width = '120px';\n        div1[0].style.float = 'right';\n\n        function displayTime() {\n            p.text(new Date().toLocaleTimeString());\n        }\n        \n        //add day/night mode button\n        var div2 = $('<div/>');\n        var button = document.createElement('BUTTON');\n        var html = document.getElementsByTagName('html')[0];\n        var elem = window.getComputedStyle(html);\n        var night_icon = document.createElement(\"night\");\n        var day_icon = document.createElement(\"day\");\n        day_icon.className =\"fa fa-eye\";\n        night_icon.className =\"fa fa-eye-slash\";\n        button.appendChild(night_icon);\n        button.onclick = function(){\n            button.replaceChild((button.firstChild.nodeName == \"NIGHT\") ? day_icon : night_icon, (button.firstChild.nodeName == \"DAY\") ? day_icon : night_icon);\n     \n            html.style.setProperty(\"--color-main\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-main-light\") : elem.getPropertyValue(\"--color-main-dark\"));\n            html.style.setProperty(\"--color-text\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-text-light\") : elem.getPropertyValue(\"--color-text-dark\"));\n            html.style.setProperty(\"--color-button\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-button-light\") : elem.getPropertyValue(\"--color-button-dark\"));\n            html.style.setProperty(\"--color-gauge\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-gauge-light\") : elem.getPropertyValue(\"--color-gauge-dark\"));\n            html.style.setProperty(\"--color-selection\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-selection-light\") : elem.getPropertyValue(\"--color-selection-dark\"));\n            html.style.setProperty(\"--color-tint\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-tint-light\") : elem.getPropertyValue(\"--color-tint-dark\"));\n            html.style.setProperty(\"--color-background-primary\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-background-primary-light\") : elem.getPropertyValue(\"--color-background-primary-dark\"));\n            html.style.setProperty(\"--color-background-secondary\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-background-secondary-light\") :elem.getPropertyValue(\"--color-background-secondary-dark\"));\n        }\n\n        div2[0].style.margin = '5px auto';\n        div2[0].style.width = '60px';\n        div2[0].style.float = 'right';\n        button.tooltip = 'Switch between night(dark) and day(light) themes';\n        button.style.color = elem.getPropertyValue(\"--color-widget\");\n        button.style.background = elem.getPropertyValue(\"--color-widget-trans\");\n        button.style.borderRadius = '20%';\n        div2.append(button);\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div0);\n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":760,"y":40,"wires":[[]]},{"id":"91847b15.392f38","type":"ui_group","name":"Lights","tab":"621795d4.5a093c","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc688149.611fe","type":"ui_group","name":"RPM","tab":"fbffba0f.997c98","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee2fd385.3b18c","type":"ui_group","name":"Temp","tab":"fbffba0f.997c98","order":3,"disp":true,"width":"6","collapse":false},{"id":"9920271d.097a98","type":"ui_group","name":"Pressure","tab":"fbffba0f.997c98","order":4,"disp":true,"width":"6","collapse":false},{"id":"211181d9.0f026e","type":"ui_group","name":"Voltage","tab":"621795d4.5a093c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b5bb579e.f0f868","type":"ui_group","name":"Current","tab":"621795d4.5a093c","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf8d44b2.bea9c8","type":"ui_group","name":"Charge","tab":"621795d4.5a093c","order":5,"disp":true,"width":"6","collapse":false},{"id":"5308aea2.0035","type":"ui_group","name":"Fresh","tab":"8bda4cbd.49784","order":3,"disp":true,"width":"6","collapse":false},{"id":"e0e94bec.d30e48","type":"ui_group","name":"Diesel","tab":"8bda4cbd.49784","order":5,"disp":true,"width":"6","collapse":false},{"id":"70bbe0ae.e49bf","type":"ui_group","name":"Climate","tab":"9cfaadc9.d3cad","order":1,"disp":true,"width":"6","collapse":false},{"id":"548957a1.37c778","type":"ui_group","name":"AC Systems","tab":"621795d4.5a093c","order":6,"disp":true,"width":"6","collapse":false},{"id":"fbe2d24d.1395d","type":"ui_group","name":"Grey","tab":"8bda4cbd.49784","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bfb2502.fd9238","type":"ui_group","name":"Holding","tab":"8bda4cbd.49784","order":4,"disp":true,"width":"6","collapse":false},{"id":"3f126a42.d45686","type":"ui_group","name":"DC Systems","tab":"621795d4.5a093c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e017c50e.4ffb68","type":"ui_group","name":"Engine","tab":"fbffba0f.997c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"2be4c060.c55e8","type":"ui_group","name":"Throttle","tab":"fbffba0f.997c98","order":6,"disp":false,"width":"2","collapse":false},{"id":"41285cb0.3facd4","type":"mcp23017chip","addr":"0x21","interval":"100"},{"id":"c2ed3f14.077b4","type":"mcp23017chip","addr":"0x20","interval":"100"},{"id":"1a9cfbdd.0b9594","type":"mcp23017chip","addr":"0x25","interval":"100"},{"id":"11358729.983779","type":"mcp23017chip","addr":"0x23","interval":"100"},{"id":"782602be.c78ecc","type":"mcp23017chip","addr":"0x22","interval":"100"},{"id":"1347bb67.03ca35","type":"mcp23017chip","addr":"0x26","interval":"100"},{"id":"96c351a9.d5fc6","type":"mcp23017chip","addr":"0x24","interval":"100"},{"id":"621795d4.5a093c","type":"ui_tab","name":"Electronics","icon":"mi-electrical_services","disabled":false,"hidden":false},{"id":"fbffba0f.997c98","type":"ui_tab","name":"Engine","icon":"dashboard","disabled":false,"hidden":false},{"id":"8bda4cbd.49784","type":"ui_tab","name":"Fluids","icon":"mi-waves","disabled":false,"hidden":false},{"id":"9cfaadc9.d3cad","type":"ui_tab","name":"Climate Control","icon":"ac_unit","disabled":false,"hidden":false}]