Node-RED/flows.json
[{"id":"3fdbb98a.3e95c6","type":"tab","label":"Default Flow","disabled":false,"info":"# bungle tungle"},{"id":"8f5ce30d.7f9cd","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Front Cabin","tooltip":"The Forward Cabin","group":"91847b15.392f38","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"local_hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"local_hotel","offcolor":"#555555","x":1330,"y":1820,"wires":[["f65e8586.a9e988","b349bc79.b8905"]]},{"id":"79ec2393.5c56bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Aft Cabin","tooltip":"","group":"91847b15.392f38","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"hotel","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"hotel","offcolor":"#555555","x":1340,"y":1900,"wires":[["6099d998.792868","889402e1.81e39"]]},{"id":"c947d480.259768","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Galley","tooltip":"Kitchen","group":"91847b15.392f38","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant_menu","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant_menu","offcolor":"#555555","x":1350,"y":1980,"wires":[["7602b3c2.15469c","e63612df.7324d"]]},{"id":"dafb97a.fa7e268","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Head","tooltip":"Toilet","group":"91847b15.392f38","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wc","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wc","offcolor":"#555555","x":1350,"y":2140,"wires":[["81f0f4ad.884e28","3331c579.3456fa"]]},{"id":"100a5daa.b49b52","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Saloon","tooltip":"Dinette, main dining and social area","group":"91847b15.392f38","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"restaurant","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"restaurant","offcolor":"#555555","x":1340,"y":2060,"wires":[["a1773370.372da","30d47b9b.2ca404"]]},{"id":"773be4d5.c4e1bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Nav-Station","tooltip":"Navigation Station / Chart Table","group":"91847b15.392f38","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-architecture","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"mi-architecture","offcolor":"#555555","x":1330,"y":2220,"wires":[["6e7eec9e.83f784","2d60ceb2.b4a032"]]},{"id":"6d58d415.6564fc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Deck","tooltip":"Outside Lights","group":"91847b15.392f38","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-ship","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-ship","offcolor":"#555555","x":1350,"y":1740,"wires":[["d1130f2c.8bd55","12b73f1a.c9fff1"]]},{"id":"d4e24d9d.2dfe9","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Anchor","tooltip":"The Anchor Light","group":"91847b15.392f38","order":10,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-anchor","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-anchor","offcolor":"#555555","x":1340,"y":2540,"wires":[["78febda4.f05c54","18c0cdb8.150582"]]},{"id":"ac62ba2c.049bd8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Sailing","tooltip":"Green/Red/White masthead tri-color for use under sail","group":"91847b15.392f38","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-podcast","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-podcast","offcolor":"#555555","x":1350,"y":2620,"wires":[["29d56d03.e8ea42","fdfe0f30.94ab4"]]},{"id":"1338a4d8.5da56b","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Motoring","tooltip":"Green/Red bi-colour, stern and masthead lights for use when motoring","group":"91847b15.392f38","order":12,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"toys","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"toys","offcolor":"#555555","x":1340,"y":2460,"wires":[["d0a2db4c.510518","d0f0073b.deb398"]]},{"id":"d7bab45d.15db38","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"cc688149.611fe","order":0,"width":0,"height":0,"gtype":"gage","title":"RPM","label":"rpm","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":220,"wires":[]},{"id":"9548ea45.b90c18","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Cooling Water Temp","label":"°C","format":"{{value}}","min":"-40","max":"120","colors":["#0006b3","#0f8000","#ca3838"],"seg1":"","seg2":"","x":200,"y":260,"wires":[]},{"id":"c1b5d306.cda2b","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"ee2fd385.3b18c","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Temp","label":"°C","format":"{{value}}","min":"-40","max":"200","colors":["#0522ff","#14ad00","#ca3838"],"seg1":"","seg2":"","x":160,"y":300,"wires":[]},{"id":"26bf6ce5.5e4064","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"9920271d.097a98","order":0,"width":0,"height":0,"gtype":"gage","title":"Oil Pressure","label":"bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":340,"wires":[]},{"id":"131ae9e9.0d3016","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Alternator/Starter","label":"V","format":"{{value}}","min":"9","max":"15","colors":["#ff0000","#23a300","#d4ff00"],"seg1":"","seg2":"","x":200,"y":520,"wires":[]},{"id":"246cae24.6df742","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"AC","label":"V","format":"{{value}}","min":"200","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":400,"wires":[]},{"id":"e685c3a4.00b9f","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"211181d9.0f026e","order":0,"width":0,"height":0,"gtype":"gage","title":"DC PSUs","label":"V","format":"{{value}}","min":"10","max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":480,"wires":[]},{"id":"2598e9cf.be3116","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"A","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":440,"wires":[]},{"id":"9e9f56bb.659b48","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":440,"wires":[]},{"id":"a77fc439.48ce08","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"DC PSUs","label":"W","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":160,"y":480,"wires":[]},{"id":"c68d9bff.139da8","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"5308aea2.0035","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Tank","label":"liters","format":"{{value}}","min":0,"max":"146","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":780,"wires":[]},{"id":"286bac94.0b1b84","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Front Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":660,"wires":[]},{"id":"ab48a68b.b28488","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Middle Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":190,"y":700,"wires":[]},{"id":"d82dd2b6.45045","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"e0e94bec.d30e48","order":0,"width":0,"height":0,"gtype":"gage","title":"Aft Diesel Tank","label":"liters","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":180,"y":740,"wires":[]},{"id":"7c1de61f.753958","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Diesel Heater","tooltip":"Heater for engine, hot water and heating","group":"9a84fcf1.09fb8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"fa-fire","offcolor":"#555555","x":1320,"y":1080,"wires":[["66ad9c17.bb51d4","f41622ea.b81bb"]]},{"id":"30364328.dc14bc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Electric Heater & Circulation Pump","tooltip":"Water heater for hot water and heating plus circulation pump","group":"9a84fcf1.09fb8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-waves","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"mi-waves","offcolor":"#555555","x":1260,"y":260,"wires":[["e101bf6e.07dd2","b9747043.b3024"]]},{"id":"1f748ea7.9ea681","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"V-Berth Fan","tooltip":"","group":"e4b1b035.83743","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":1040,"wires":[[]]},{"id":"d64969f2.411e48","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Aft-Cabin Fan","tooltip":"","group":"e4b1b035.83743","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":180,"y":1080,"wires":[[]]},{"id":"7f77af6d.14e17","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Saloon Fan","tooltip":"","group":"e4b1b035.83743","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":1120,"wires":[[]]},{"id":"36babf3f.d19f8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"White Backlight","tooltip":"White backlight for nav-station gauges","group":"91847b15.392f38","order":13,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#555555","x":1320,"y":2300,"wires":[["cdaadc7.9ca9a2","e2c23cfa.b6e1e"]]},{"id":"2a4f4cc7.daa1a4","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Red Backlight","tooltip":"Red backlight for nav-station gauges","group":"91847b15.392f38","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wb_incandescent","oncolor":"#ff0000","offvalue":"false","offvalueType":"bool","officon":"wb_incandescent","offcolor":"#555555","x":1320,"y":2380,"wires":[["7a689e32.1f73d","89a82873.7b94e8"]]},{"id":"b7db2356.a5e29","type":"ui_audio","z":"3fdbb98a.3e95c6","name":"Bilge Water Warning","group":"fbe2d24d.1395d","voice":"","always":"","x":400,"y":700,"wires":[]},{"id":"9481be12.96bd","type":"ui_toast","z":"3fdbb98a.3e95c6","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Bilge Water Warning","x":400,"y":740,"wires":[]},{"id":"fb3509b0.e3d5e8","type":"ui_toast","z":"3fdbb98a.3e95c6","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Holding Tank Warning","x":400,"y":780,"wires":[]},{"id":"1482aaf7.57d2b5","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"9bfb2502.fd9238","order":3,"width":0,"height":0,"gtype":"gage","title":"Holding Tank","label":"%","format":"{{value}}","min":0,"max":"164","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":620,"wires":[]},{"id":"e5b78814.1b0188","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker","tooltip":"","group":"548957a1.37c778","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"#0000FF","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"#555555","x":1330,"y":180,"wires":[["bef2f196.7956f","d7616607.2c92f8"]]},{"id":"7b108d14.d09e14","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"SSB Radio","tooltip":"Single Sideband Radio","group":"3f126a42.d45686","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"radio","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"radio","offcolor":"#555555","x":2450,"y":480,"wires":[["bd36446a.0b5bb8","a167c0a1.ac89f"]]},{"id":"20fbc37d.98169c","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"VHF Radio","tooltip":"Very High Frequency Radio","group":"3f126a42.d45686","order":10,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wifi_tethering","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"wifi_tethering","offcolor":"#555555","x":1330,"y":1320,"wires":[["2c947e85.a786a2","1359b193.3a641e"]]},{"id":"3b14a0c2.c472","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Fridge","tooltip":"Keep the foods cool","group":"3f126a42.d45686","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-snowflake-o","oncolor":"#0099ff","offvalue":"false","offvalueType":"bool","officon":"fa-snowflake-o","offcolor":"#555555","x":1350,"y":920,"wires":[["30b02759.79b328","66ba28eb.e0f858"]]},{"id":"81f1a134.bbad4","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Freezer","tooltip":"Keep the foods very cold","group":"3f126a42.d45686","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"ac_unit","oncolor":"#00ddff","offvalue":"false","offvalueType":"bool","officon":"ac_unit","offcolor":"#555555","x":1340,"y":840,"wires":[["52f3efea.b7bf","d98ef791.d3a6f8"]]},{"id":"d62e78bb.8b73c8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Sonar & Log","tooltip":"DSM 300 Sonar, Log & Transducers","group":"3f126a42.d45686","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-settings_input_antenna","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-settings_input_antenna","offcolor":" #555555","x":1330,"y":1240,"wires":[["6540c811.429d08","5449f5fc.10678c"]]},{"id":"fc7d0605.69cf68","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Autopilot","tooltip":"","group":"3f126a42.d45686","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-local_airport","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"mi-local_airport","offcolor":"#555555","x":1340,"y":1160,"wires":[["bbe8c62.3140738","bdc65da7.e2175"]]},{"id":"c7fd5626.f83e18","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Cockpit Monitor","tooltip":"","group":"91847b15.392f38","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-television","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-television","offcolor":"#555555","x":1320,"y":1660,"wires":[["8e9b619d.c26df","2ce1afb2.50754"]]},{"id":"3fb36809.269848","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Stove & Oven","tooltip":"Diesel Stove","group":"3f126a42.d45686","order":13,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-fireplace","oncolor":"#ff6e5e","offvalue":"false","offvalueType":"bool","officon":"mi-fireplace","offcolor":"#555555","x":1320,"y":760,"wires":[["ce16b77b.643b18","c293512d.e8e7f"]]},{"id":"862b16fd.447ed8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Galley Sockets","tooltip":"Electric sockets in the Galley","group":"548957a1.37c778","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-microwave","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"mi-microwave","offcolor":"#555555","x":1320,"y":100,"wires":[["99aac773.7e37d8","d102914a.2c1a8"]]},{"id":"6c7637ac.6fb528","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Cabin Sockets & Monitors","tooltip":"Electrical sockets in the Aft/Fore cabins and monitors","group":"548957a1.37c778","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"power","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"power","offcolor":"#555555","x":1290,"y":340,"wires":[["b35253d9.8f137","b09b0b50.6a18a8"]]},{"id":"51b2cb78.8d8b54","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"12v DC PSU #1","tooltip":"","group":"548957a1.37c778","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1320,"y":500,"wires":[["c96b05d5.b04df8","6350d93c.c143f8"]]},{"id":"8faabb65.4d07d8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Starter Battery Charger","tooltip":"Charge starter battery from AC Inverter/Generator or mains","group":"548957a1.37c778","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-battery_charging_full","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-battery_charging_full","offcolor":"#555555","x":1290,"y":420,"wires":[["4e10be39.38e65","9e5eb2d8.51b52"]]},{"id":"472f0133.270d1","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Generator","tooltip":"Connect generator to AC Bus","group":"99edb6c2.1bde98","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-charging_station","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-charging_station","offcolor":"#555555","x":2460,"y":80,"wires":[["753a6ba.7c15394","33f638d8.900578"]]},{"id":"cb84f806.36c708","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Saloon","tooltip":"Desired Temperature","group":"78f4182c.22c0d8","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":380,"y":1040,"wires":[[]]},{"id":"c9b04c8a.6e376","type":"ui_chart","z":"3fdbb98a.3e95c6","name":"","group":"96bdbd.24ef024","order":6,"width":0,"height":0,"label":"Saloon","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":620,"y":1040,"wires":[[]]},{"id":"758380ef.f8e71","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Enable Thermostat","tooltip":"","group":"78f4182c.22c0d8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer-half","oncolor":"#FF9E9E","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer-0","offcolor":"#555555","x":430,"y":1220,"wires":[[]]},{"id":"f532fc92.0daae","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Bilge Pump #1 Auto","tooltip":"","group":"fbe2d24d.1395d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":860,"wires":[[]]},{"id":"8e417e1e.52428","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Bilge Pump #2 Auto","tooltip":"","group":"fbe2d24d.1395d","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#00ff00","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":900,"wires":[[]]},{"id":"de9cf94b.ffefb8","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker High Mark","tooltip":"","group":"5308aea2.0035","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"50","max":"100","step":1,"x":650,"y":760,"wires":[[]]},{"id":"8787f7af.2d2948","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Water Maker Low Mark","tooltip":"","group":"5308aea2.0035","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"80","step":1,"x":490,"y":820,"wires":[[]]},{"id":"5be51006.a07f8","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Generator Low Mark","tooltip":"","group":"99edb6c2.1bde98","order":17,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"5","max":"80","step":"5","x":400,"y":560,"wires":[[]]},{"id":"f263625c.11744","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Generator High Mark","tooltip":"","group":"99edb6c2.1bde98","order":18,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"","format":"{{value}} %","min":"50","max":"100","step":"5","x":620,"y":580,"wires":[[]]},{"id":"dff33aed.0a4558","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Generator Autostart","tooltip":"","group":"99edb6c2.1bde98","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"autorenew","oncolor":"#94ff94","offvalue":"false","offvalueType":"bool","officon":"autorenew","offcolor":"#555555","x":190,"y":560,"wires":[[]]},{"id":"8fb34d44.b652c","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Enable Water Maker Autostart","tooltip":"","group":"5308aea2.0035","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":820,"wires":[[]]},{"id":"9ca1839a.2716e","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Shore Power","tooltip":"Connect Shore power to AC Bus","group":"548957a1.37c778","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":2450,"y":160,"wires":[["588c30eb.63c4d","7f4a23ca.db22cc"]]},{"id":"764974cb.411dfc","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Automatic overboard discharge","tooltip":"Automatically discharge the holding tank overboard","group":"9bfb2502.fd9238","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-auto_delete","oncolor":"#800000","offvalue":"false","offvalueType":"bool","officon":"mi-auto_delete","offcolor":"#555555","x":230,"y":940,"wires":[[]]},{"id":"2a090d82.991662","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"AC Shore","label":"A","format":"{{value}}","min":"0","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":400,"wires":[]},{"id":"e0d12a5.8c7e6d8","type":"ui_dropdown","z":"3fdbb98a.3e95c6","name":"","label":"Gear","tooltip":"Gear Engagement","place":"Neutral","group":"e017c50e.4ffb68","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Forward","value":0,"type":"num"},{"label":"Neutral","value":1,"type":"num"},{"label":"Reverse","value":2,"type":"num"}],"payload":"","topic":"","x":2090,"y":1260,"wires":[["dc0de0ec.867c7"]]},{"id":"38ba2c3a.438804","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Throttle","tooltip":"Throttle position","group":"2be4c060.c55e8","order":2,"width":"2","height":"6","passthru":true,"outs":"all","topic":"","min":"-30","max":"100","step":1,"x":160,"y":180,"wires":[[]]},{"id":"762af681.c57b98","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Maintain RPM","tooltip":"","group":"cc688149.611fe","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":220,"wires":[[]]},{"id":"4c4fea06.71dfe4","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Target RPM","tooltip":"The RPM to target when automatically maintaining fixed RPM","group":"cc688149.611fe","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"800","max":"3700","step":"50","x":470,"y":220,"wires":[[]]},{"id":"bad7d101.aac97","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"bf8d44b2.bea9c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Starter Battery","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":520,"wires":[]},{"id":"ba5f6499.d3ea88","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#16Off","chip":"41285cb0.3facd4","bitNum":"0","invert":true,"x":1810,"y":2600,"wires":[[]]},{"id":"291f1a95.5e9d26","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#16On","chip":"41285cb0.3facd4","bitNum":"1","invert":true,"x":1810,"y":2640,"wires":[[]]},{"id":"8ef1e2fe.4b31d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#15Off","chip":"41285cb0.3facd4","bitNum":"2","invert":true,"x":1810,"y":2520,"wires":[[]]},{"id":"f811b2e6.365b2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#15On","chip":"41285cb0.3facd4","bitNum":"3","invert":true,"x":1810,"y":2560,"wires":[[]]},{"id":"447d21b3.0ba44","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#14Off","chip":"41285cb0.3facd4","bitNum":"4","invert":true,"x":1810,"y":2440,"wires":[[]]},{"id":"379b4ec1.699442","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#14On","chip":"41285cb0.3facd4","bitNum":"5","invert":true,"x":1810,"y":2480,"wires":[[]]},{"id":"7cc60eb2.5a3c5","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#13Off","chip":"41285cb0.3facd4","bitNum":"6","invert":true,"x":1810,"y":2360,"wires":[[]]},{"id":"2240c2d3.190d5e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#13On","chip":"41285cb0.3facd4","bitNum":"7","invert":true,"x":1810,"y":2400,"wires":[[]]},{"id":"993a389e.4bd348","type":"ui_slider","z":"3fdbb98a.3e95c6","name":"","label":"Head Fan","tooltip":"","group":"e4b1b035.83743","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":160,"y":1160,"wires":[[]]},{"id":"f7104137.4da0c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#12Off","chip":"41285cb0.3facd4","bitNum":"8","invert":true,"x":1810,"y":2280,"wires":[[]]},{"id":"959f526e.c6557","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#12On","chip":"41285cb0.3facd4","bitNum":"9","invert":true,"x":1810,"y":2320,"wires":[[]]},{"id":"e1076442.94d558","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#11Off","chip":"41285cb0.3facd4","bitNum":"10","invert":true,"x":1810,"y":2200,"wires":[[]]},{"id":"4796556d.a63fcc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#11On","chip":"41285cb0.3facd4","bitNum":"11","invert":true,"x":1810,"y":2240,"wires":[[]]},{"id":"655b1064.f03dc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#10Off","chip":"41285cb0.3facd4","bitNum":"12","invert":true,"x":1810,"y":2120,"wires":[[]]},{"id":"f57747b4.77a218","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#10On","chip":"41285cb0.3facd4","bitNum":"13","invert":true,"x":1810,"y":2160,"wires":[[]]},{"id":"772f9391.0d5f5c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#09Off","chip":"41285cb0.3facd4","bitNum":"14","invert":true,"x":1810,"y":2040,"wires":[[]]},{"id":"91c49f39.93033","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#09On","chip":"41285cb0.3facd4","bitNum":"15","invert":true,"x":1810,"y":2080,"wires":[[]]},{"id":"7fa04328.bbdfec","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#08Off","chip":"c2ed3f14.077b4","bitNum":"0","invert":true,"x":1810,"y":1960,"wires":[[]]},{"id":"38156ed6.2300e2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#08On","chip":"c2ed3f14.077b4","bitNum":"1","invert":true,"x":1810,"y":2000,"wires":[[]]},{"id":"b4f7df44.3f715","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#07Off","chip":"c2ed3f14.077b4","bitNum":"2","invert":true,"x":1810,"y":1880,"wires":[[]]},{"id":"747a37b4.a58388","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#07On","chip":"c2ed3f14.077b4","bitNum":"3","invert":true,"x":1810,"y":1920,"wires":[[]]},{"id":"e5f6b116.35eb2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#06Off","chip":"c2ed3f14.077b4","bitNum":"4","invert":true,"x":1810,"y":1800,"wires":[[]]},{"id":"501b617a.5bb31","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#06On","chip":"c2ed3f14.077b4","bitNum":"5","invert":true,"x":1810,"y":1840,"wires":[[]]},{"id":"ab87bbe5.9de698","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#01Off","chip":"c2ed3f14.077b4","bitNum":"14","invert":true,"x":1810,"y":1400,"wires":[[]]},{"id":"6bd1f475.2420cc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#01On","chip":"c2ed3f14.077b4","bitNum":"15","invert":true,"x":1810,"y":1440,"wires":[[]]},{"id":"302dbf44.ab0dd","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#05Off","chip":"c2ed3f14.077b4","bitNum":"6","invert":true,"x":1810,"y":1720,"wires":[[]]},{"id":"c36e9d8e.ea596","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#05On","chip":"c2ed3f14.077b4","bitNum":"7","invert":true,"x":1810,"y":1760,"wires":[[]]},{"id":"cb92807a.07b2c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#04Off","chip":"c2ed3f14.077b4","bitNum":"8","invert":true,"x":1810,"y":1640,"wires":[[]]},{"id":"464eacfd.e55394","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#04On","chip":"c2ed3f14.077b4","bitNum":"9","invert":true,"x":1810,"y":1680,"wires":[[]]},{"id":"afe4d80.e7b7728","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#03Off","chip":"c2ed3f14.077b4","bitNum":"10","invert":true,"x":1810,"y":1560,"wires":[[]]},{"id":"1eaf0d03.194953","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#03On","chip":"c2ed3f14.077b4","bitNum":"11","invert":true,"x":1810,"y":1600,"wires":[[]]},{"id":"42570394.231a9c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#02Off","chip":"c2ed3f14.077b4","bitNum":"12","invert":true,"x":1810,"y":1480,"wires":[[]]},{"id":"ae90fc7d.14087","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"#02On","chip":"c2ed3f14.077b4","bitNum":"13","invert":true,"x":1810,"y":1520,"wires":[[]]},{"id":"a46e65b1.0c4b58","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC01Off","chip":"1a9cfbdd.0b9594","bitNum":"1","invert":true,"x":1820,"y":80,"wires":[[]]},{"id":"d3fbf200.32b56","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC01On","chip":"1a9cfbdd.0b9594","bitNum":"0","invert":true,"x":1820,"y":120,"wires":[[]]},{"id":"88c0e459.d30458","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC02Off","chip":"1a9cfbdd.0b9594","bitNum":"3","invert":true,"x":1820,"y":160,"wires":[[]]},{"id":"30a9c71e.460768","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC02On","chip":"1a9cfbdd.0b9594","bitNum":"2","invert":true,"x":1820,"y":200,"wires":[[]]},{"id":"30d0226e.26b50e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC03Off","chip":"1a9cfbdd.0b9594","bitNum":"5","invert":true,"x":1820,"y":240,"wires":[[]]},{"id":"252a4f1f.5b7c5","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC03On","chip":"1a9cfbdd.0b9594","bitNum":"4","invert":true,"x":1820,"y":280,"wires":[[]]},{"id":"651395b5.a2c91c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC04Off","chip":"1a9cfbdd.0b9594","bitNum":"7","invert":true,"x":1820,"y":320,"wires":[[]]},{"id":"473f025a.3a3a0c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC04On","chip":"1a9cfbdd.0b9594","bitNum":"6","invert":true,"x":1820,"y":360,"wires":[[]]},{"id":"a2344fd8.2cbb8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC05Off","chip":"1a9cfbdd.0b9594","bitNum":"9","invert":true,"x":1820,"y":400,"wires":[[]]},{"id":"960ae4ca.dec508","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC05On","chip":"1a9cfbdd.0b9594","bitNum":"8","invert":true,"x":1820,"y":440,"wires":[[]]},{"id":"4caec317.f5335c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC06Off","chip":"1a9cfbdd.0b9594","bitNum":"11","invert":true,"x":1820,"y":480,"wires":[[]]},{"id":"99992d01.7a69f","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC06On","chip":"1a9cfbdd.0b9594","bitNum":"10","invert":true,"x":1820,"y":520,"wires":[[]]},{"id":"60552f59.82b9b","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC07Off","chip":"1a9cfbdd.0b9594","bitNum":"13","invert":true,"x":1820,"y":560,"wires":[[]]},{"id":"375f7e3e.1dff82","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC07On","chip":"1a9cfbdd.0b9594","bitNum":"12","invert":true,"x":1820,"y":600,"wires":[[]]},{"id":"cb8e223c.e2126","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC08Off","chip":"1a9cfbdd.0b9594","bitNum":"15","invert":true,"x":1820,"y":640,"wires":[[]]},{"id":"3c46d329.cd8dcc","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AC08On","chip":"1a9cfbdd.0b9594","bitNum":"14","invert":true,"x":1820,"y":680,"wires":[[]]},{"id":"b739c9d0.afbac8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC01Off","chip":"11358729.983779","bitNum":"1","invert":true,"x":1820,"y":740,"wires":[[]]},{"id":"70b80014.99784","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC01On","chip":"11358729.983779","bitNum":"0","invert":true,"x":1820,"y":780,"wires":[[]]},{"id":"21b5df39.f1246","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC02Off","chip":"11358729.983779","bitNum":"3","invert":true,"x":1820,"y":820,"wires":[[]]},{"id":"78f59bb1.d194a4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC02On","chip":"11358729.983779","bitNum":"2","invert":true,"x":1820,"y":860,"wires":[[]]},{"id":"4f26876d.1d3d48","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC03Off","chip":"11358729.983779","bitNum":"5","invert":true,"x":1820,"y":900,"wires":[[]]},{"id":"94ce9503.1a9638","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC03On","chip":"11358729.983779","bitNum":"4","invert":true,"x":1820,"y":940,"wires":[[]]},{"id":"8859a48c.c99ee8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC04Off","chip":"11358729.983779","bitNum":"7","invert":true,"x":1820,"y":980,"wires":[[]]},{"id":"14e7d78d.dbe5c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC04On","chip":"11358729.983779","bitNum":"6","invert":true,"x":1820,"y":1020,"wires":[[]]},{"id":"56d15632.8ae2e8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC05Off","chip":"11358729.983779","bitNum":"9","invert":true,"x":1820,"y":1060,"wires":[[]]},{"id":"c86051c0.f532c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC05On","chip":"11358729.983779","bitNum":"8","invert":true,"x":1820,"y":1100,"wires":[[]]},{"id":"f2365a89.80de28","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC06Off","chip":"11358729.983779","bitNum":"11","invert":true,"x":1820,"y":1140,"wires":[[]]},{"id":"eb0f8316.38324","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC06On","chip":"11358729.983779","bitNum":"10","invert":true,"x":1820,"y":1180,"wires":[[]]},{"id":"361a829f.44ce5e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC07Off","chip":"11358729.983779","bitNum":"13","invert":true,"x":1820,"y":1220,"wires":[[]]},{"id":"ac69909e.362d4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC07On","chip":"11358729.983779","bitNum":"12","invert":true,"x":1820,"y":1260,"wires":[[]]},{"id":"2163ceb3.ef30f2","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC08Off","chip":"11358729.983779","bitNum":"15","invert":true,"x":1820,"y":1300,"wires":[[]]},{"id":"265b7cb.891ed84","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"DC08On","chip":"11358729.983779","bitNum":"14","invert":true,"x":1820,"y":1340,"wires":[[]]},{"id":"d37f6a2e.df6f58","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Inverter","tooltip":"Connect Inverter to AC Bus","group":"548957a1.37c778","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-random","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"fa-random","offcolor":"#555555","x":2460,"y":240,"wires":[["5025d915.dcefb8","e7801f9d.cc47f"]]},{"id":"fd63ba58.f4ba48","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Navigation Station Power","tooltip":"Power to run the navigation station computer","group":"548957a1.37c778","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"#B8B8B8","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"#FF8D85","x":1290,"y":660,"wires":[["69e05222.54a77c","2b3be60d.f10aba"]]},{"id":"f56019b7.045dc8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M15B8","chip":"782602be.c78ecc","bitNum":"0","invert":true,"x":2860,"y":1280,"wires":[[]]},{"id":"d04381b0.b0094","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M08B15","chip":"782602be.c78ecc","bitNum":"1","invert":true,"x":2860,"y":1000,"wires":[[]]},{"id":"53b4aaed.da8be4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M13B06","chip":"782602be.c78ecc","bitNum":"2","invert":true,"x":2860,"y":1200,"wires":[[]]},{"id":"3cd0557f.11af3a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M06B13","chip":"782602be.c78ecc","bitNum":"3","invert":true,"x":2860,"y":920,"wires":[[]]},{"id":"28829690.a43aaa","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M11B04","chip":"782602be.c78ecc","bitNum":"4","invert":true,"x":2860,"y":1120,"wires":[[]]},{"id":"7bbecee0.5c4f4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M04B11","chip":"782602be.c78ecc","bitNum":"5","invert":true,"x":2860,"y":840,"wires":[[]]},{"id":"98ac0597.883c78","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M09B02","chip":"782602be.c78ecc","bitNum":"6","invert":true,"x":2860,"y":1040,"wires":[[]]},{"id":"9d0bb0fc.95088","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M02B09","chip":"782602be.c78ecc","bitNum":"7","invert":true,"x":2860,"y":760,"wires":[[]]},{"id":"1af5583f.8ae9e8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M07B16","chip":"782602be.c78ecc","bitNum":"8","invert":true,"x":2860,"y":960,"wires":[[]]},{"id":"2b022b5a.cdfe94","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M16B07","chip":"782602be.c78ecc","bitNum":"9","invert":true,"x":2860,"y":1320,"wires":[[]]},{"id":"6b9be4b5.6d825c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M05B14","chip":"782602be.c78ecc","bitNum":"10","invert":true,"x":2860,"y":880,"wires":[[]]},{"id":"1050f2a2.81e93d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M14B05","chip":"782602be.c78ecc","bitNum":"11","invert":true,"x":2860,"y":1240,"wires":[[]]},{"id":"2ec2daaa.e51fd6","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M03B12","chip":"782602be.c78ecc","bitNum":"12","invert":true,"x":2860,"y":800,"wires":[[]]},{"id":"37c21213.68889e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M12B03","chip":"782602be.c78ecc","bitNum":"13","invert":true,"x":2860,"y":1160,"wires":[[]]},{"id":"84355f3a.e700b","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M01B10","chip":"782602be.c78ecc","bitNum":"14","invert":true,"x":2860,"y":720,"wires":[[]]},{"id":"5a9dbdd3.7ab484","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"M10B01","chip":"782602be.c78ecc","bitNum":"15","invert":true,"x":2860,"y":1080,"wires":[[]]},{"id":"8ab862a8.9725a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX01Off","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":3720,"y":60,"wires":[[]]},{"id":"1eb2af9e.0f7ef","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":100,"wires":[["e0db68e9.c30448"]]},{"id":"e0db68e9.c30448","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX01On","chip":"1347bb67.03ca35","bitNum":"0","invert":true,"x":3840,"y":100,"wires":[[]]},{"id":"c4d73c75.b830d","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX02Off","chip":"1347bb67.03ca35","bitNum":"3","invert":true,"x":3720,"y":140,"wires":[[]]},{"id":"261aa005.07b2b","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":180,"wires":[["f8fcdc34.69657"]]},{"id":"f8fcdc34.69657","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX02On","chip":"1347bb67.03ca35","bitNum":"2","invert":true,"x":3840,"y":180,"wires":[[]]},{"id":"ceebc020.4cbaf","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX03Off","chip":"1347bb67.03ca35","bitNum":"5","invert":true,"x":3720,"y":220,"wires":[[]]},{"id":"11b29650.39702a","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":260,"wires":[["b35118d8.5cf118"]]},{"id":"b35118d8.5cf118","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX03On","chip":"1347bb67.03ca35","bitNum":"4","invert":true,"x":3840,"y":260,"wires":[[]]},{"id":"b8177e36.312c7","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX04Off","chip":"1347bb67.03ca35","bitNum":"7","invert":true,"x":3720,"y":300,"wires":[[]]},{"id":"31cf1475.e11f0c","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":340,"wires":[["f80ab2e3.ad2dd"]]},{"id":"f80ab2e3.ad2dd","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX04On","chip":"1347bb67.03ca35","bitNum":"6","invert":true,"x":3840,"y":340,"wires":[[]]},{"id":"232cadd6.afb282","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX05Off","chip":"1347bb67.03ca35","bitNum":"9","invert":true,"x":3720,"y":380,"wires":[[]]},{"id":"e54bfab.d745408","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":420,"wires":[["eff44185.28964"]]},{"id":"eff44185.28964","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX05On","chip":"1347bb67.03ca35","bitNum":"8","invert":true,"x":3840,"y":420,"wires":[[]]},{"id":"3252bfa8.b21","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX06Off","chip":"1347bb67.03ca35","bitNum":"11","invert":true,"x":3720,"y":460,"wires":[[]]},{"id":"ee420c67.daf72","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":500,"wires":[["119fa67f.0528da"]]},{"id":"119fa67f.0528da","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX06On","chip":"1347bb67.03ca35","bitNum":"10","invert":true,"x":3840,"y":500,"wires":[[]]},{"id":"e62d2b71.f54ec8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX07Off","chip":"1347bb67.03ca35","bitNum":"13","invert":true,"x":3720,"y":540,"wires":[[]]},{"id":"eaff1f3.2b5e3e","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":580,"wires":[["c51c9a5b.774c98"]]},{"id":"c51c9a5b.774c98","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX07On","chip":"1347bb67.03ca35","bitNum":"12","invert":true,"x":3840,"y":580,"wires":[[]]},{"id":"b5bcfefc.6a247","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX08Off","chip":"1347bb67.03ca35","bitNum":"15","invert":true,"x":3720,"y":620,"wires":[[]]},{"id":"adf7b1bb.01e31","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":3710,"y":660,"wires":[["44d3bab9.ed2024"]]},{"id":"44d3bab9.ed2024","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"AUX08On","chip":"1347bb67.03ca35","bitNum":"14","invert":true,"x":3840,"y":660,"wires":[[]]},{"id":"d2e52e9d.74677","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Windlass Up","order":2,"width":"0","height":"0","format":"<div id=\"windlass_up\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Windlass Up\n      <i class=\"fa fa-anchor\"></i>\n      <i class=\"fa fa-arrow-up\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#windlass_up').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass_up\",\"payload\": true});\n    });\n    \n    $('#windlass_up').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass_up\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2530,"y":1120,"wires":[["28829690.a43aaa"]]},{"id":"94c1ab3d.cf37e8","type":"ui_template","z":"3fdbb98a.3e95c6","group":"9bfb2502.fd9238","name":"Macerator Pump","order":1,"width":"0","height":"0","format":"<div id=\"overboard_pump\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Overboard Pump\n      <i class=\"material-icons\">mi-delete_sweep</i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#overboard_pump').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"overboard_pump\",\"payload\": true});\n    });\n    \n    $('#overboard_pump').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"overboard_pump\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2510,"y":760,"wires":[["e2887bd1.cd4628"]]},{"id":"18732cbd.96a123","type":"ui_template","z":"3fdbb98a.3e95c6","group":"fbe2d24d.1395d","name":"Bilge Pump  #1","order":7,"width":"0","height":"0","format":"<div id=\"bilge_pump_1\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Bilge Pump #1\n      <i class=\"material-icons\">local_drink</i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#bilge_pump_1').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": true});\n    });\n    \n    $('#bilge_pump_1').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_1\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2520,"y":800,"wires":[["1576af4.429d751"]]},{"id":"c272502.1fa28b","type":"ui_template","z":"3fdbb98a.3e95c6","group":"fbe2d24d.1395d","name":"Bilge Pump #2","order":7,"width":"0","height":"0","format":"<div id=\"bilge_pump_2\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Bilge Pump #2\n      <i class=\"material-icons\">local_drink</i>\n      {{msg.topic === 'countdown' ? msg.payload : '' }}\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#bilge_pump_2').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": true});\n    });\n    \n    $('#bilge_pump_2').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"bilge_pump_2\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2520,"y":840,"wires":[["bfb7a393.a523f"]]},{"id":"65a2ece4.883bf4","type":"ui_template","z":"3fdbb98a.3e95c6","group":"e017c50e.4ffb68","name":"Stop Engine","order":7,"width":"0","height":"0","format":"<div id=\"stop_engine\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Stop\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#stop_engine').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"stop_engine\",\"payload\": true});\n    });\n    \n    $('#stop_engine').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"stop_engine\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2530,"y":880,"wires":[["6b9be4b5.6d825c"]]},{"id":"c568255a.164898","type":"ui_template","z":"3fdbb98a.3e95c6","group":"e017c50e.4ffb68","name":"Start Engine","order":7,"width":"0","height":"0","format":"<div id=\"start_engine\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n       Start\n      <i class=\"fa fa-play-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#start_engine').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"start_engine\",\"payload\": true});\n    });\n    \n    $('#start_engine').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"start_engine\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2530,"y":920,"wires":[["3cd0557f.11af3a"]]},{"id":"4da011db.87705","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Horn","order":1,"width":"0","height":"0","format":"<div id=\"horn\">\n   <md-button style=\"width: 100%; \n                    height: 44px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Horn\n      <i class=\"fa fa-bullhorn\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#horn').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"horn\",\"payload\": true});\n    });\n    \n    $('#horn').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"horn\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2550,"y":720,"wires":[["84355f3a.e700b"]]},{"id":"3edaab25.9d7764","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2720,"y":1280,"wires":[["f56019b7.045dc8"]]},{"id":"8e9894a5.219bb8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2720,"y":1320,"wires":[["2b022b5a.cdfe94"]]},{"id":"f6e0268d.4da1e8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Lock","tooltip":"Just flip","group":"3f126a42.d45686","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"lock","oncolor":"#00bfff","offvalue":"false","offvalueType":"bool","officon":"lock_open","offcolor":"#aa00ff","x":2450,"y":1300,"wires":[["94d8dbd9.abd308","3edaab25.9d7764"]]},{"id":"94d8dbd9.abd308","type":"InvertUltimate","z":"3fdbb98a.3e95c6","name":"Invert","x":2590,"y":1320,"wires":[["8e9894a5.219bb8"]]},{"id":"3cf8d8be.4330c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP08OnA8","chip":"96c351a9.d5fc6","bitNum":"0","invert":true,"x":2930,"y":620,"wires":[[]]},{"id":"99f8e3a3.5ea11","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP04OffA15","chip":"96c351a9.d5fc6","bitNum":"1","invert":true,"x":2930,"y":340,"wires":[[]]},{"id":"7ecded27.1389c4","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP07OffA6","chip":"96c351a9.d5fc6","bitNum":"2","invert":true,"x":2930,"y":580,"wires":[[]]},{"id":"66b91623.561538","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP03OnA13","chip":"96c351a9.d5fc6","bitNum":"3","invert":true,"x":2930,"y":220,"wires":[[]]},{"id":"3d5792a6.4ad17e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP06OnA4","chip":"96c351a9.d5fc6","bitNum":"4","invert":true,"x":2930,"y":460,"wires":[[]]},{"id":"36fb55e5.b3a99a","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP02OffA11","chip":"96c351a9.d5fc6","bitNum":"5","invert":true,"x":2930,"y":180,"wires":[[]]},{"id":"a7db6cd2.4b786","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP05OffA2","chip":"96c351a9.d5fc6","bitNum":"6","invert":true,"x":2930,"y":420,"wires":[[]]},{"id":"1aa534eb.6331ab","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP01OnA9","chip":"96c351a9.d5fc6","bitNum":"7","invert":true,"x":2930,"y":60,"wires":[[]]},{"id":"b1516ac7.b81668","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP04OnA16","chip":"96c351a9.d5fc6","bitNum":"8","invert":true,"x":2930,"y":300,"wires":[[]]},{"id":"8ec793c7.79576","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP08OffA7","chip":"96c351a9.d5fc6","bitNum":"9","invert":true,"x":2930,"y":660,"wires":[[]]},{"id":"519d9407.403f2c","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP03OffA14","chip":"96c351a9.d5fc6","bitNum":"10","invert":true,"x":2930,"y":260,"wires":[[]]},{"id":"80cdc3c9.13b2e","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP07OnA5","chip":"96c351a9.d5fc6","bitNum":"11","invert":true,"x":2930,"y":540,"wires":[[]]},{"id":"e1a63ca9.015ab","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP02OnA12","chip":"96c351a9.d5fc6","bitNum":"12","invert":true,"x":2930,"y":140,"wires":[[]]},{"id":"f12719ce.6593c8","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP06OffA3","chip":"96c351a9.d5fc6","bitNum":"13","invert":true,"x":2930,"y":500,"wires":[[]]},{"id":"aba70d5a.a9227","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP01OffA10","chip":"96c351a9.d5fc6","bitNum":"14","invert":true,"x":2930,"y":100,"wires":[[]]},{"id":"ab46a0ef.84749","type":"mcp23017output","z":"3fdbb98a.3e95c6","name":"HP05OnA1","chip":"96c351a9.d5fc6","bitNum":"15","invert":true,"x":2930,"y":380,"wires":[[]]},{"id":"41cb5f3c.b5541","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Aux On","tooltip":"Just flip","group":"3f126a42.d45686","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":3460,"y":320,"wires":[["8ab862a8.9725a","c4d73c75.b830d","ceebc020.4cbaf","b8177e36.312c7","232cadd6.afb282","3252bfa8.b21","e62d2b71.f54ec8"]]},{"id":"fa4334d.b126dc8","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Aux Off","tooltip":"Just flip","group":"3f126a42.d45686","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-electrical_services","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-electrical_services","offcolor":"#555555","x":3460,"y":400,"wires":[["1eb2af9e.0f7ef","261aa005.07b2b","11b29650.39702a","31cf1475.e11f0c","e54bfab.d745408","ee420c67.daf72","eaff1f3.2b5e3e","adf7b1bb.01e31"]]},{"id":"1576af4.429d751","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2700,"y":800,"wires":[["2ec2daaa.e51fd6"]]},{"id":"bfb7a393.a523f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2700,"y":840,"wires":[["7bbecee0.5c4f4"]]},{"id":"b5e83a16.5b7018","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Fresh Water Pump","tooltip":"Enable Pressure pump for fresh hot/cold water","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"#555555","x":2430,"y":400,"wires":[["e419efc5.fb07c","6086d343.5226ac"]]},{"id":"e2887bd1.cd4628","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2700,"y":760,"wires":[["9d0bb0fc.95088"]]},{"id":"9724fd80.f20a9","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Washdown Pump","tooltip":"Enable washdown pressure pump","group":"5308aea2.0035","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-shower","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-shower","offcolor":"#555555","x":2430,"y":320,"wires":[["6dcba679.08b2e8","9ab69d99.7c29d"]]},{"id":"e62a7b27.276488","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"12v DC PSU #2","tooltip":"","group":"548957a1.37c778","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"mi-bolt","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"mi-bolt","offcolor":"#555555","x":1320,"y":580,"wires":[["1a6ff46f.449bac","27179c0b.babda4"]]},{"id":"c0fee764.1fb408","type":"ui_template","z":"3fdbb98a.3e95c6","group":"","name":"Logo - Head - Template","order":2,"width":0,"height":0,"format":"<style>\n    /*\n    Pre-defined colors\n    */\n    :root {\n        --color-main-dark:  rgb(148,87,87,1);\n        --color-main-light:  rgb(0,0,66,1);\n        --color-main: var(--color-main-light);\n        --color-text-light: rgba(12, 9, 62,1);\n        --color-text-dark: rgb(254, 222, 222);\n        --color-text: var(--color-text-light);\n        --color-widget-border: rgb(84, 78, 78);\n        --color-widget-trans: rgba(178, 178, 178, 0.2);\n        --color-disabled: rgb(200, 200, 210);\n        --color-button-light: rgba(5,16,60,0.8);\n        --color-button-dark: rgba(54,16,16,0.8);\n        --color-button: var(--color-button-light);\n        --color-selection-light: rgba(100,100,155,1);\n        --color-selection-dark: rgba(154,116,116,0.8);\n        --color-selection: var(--color-selection-light);\n        --color-tint-light: rgba(182, 182, 255,1);\n        --color-tint-dark: rgba(255, 182, 182,1);\n        --color-tint: var(--color-tint-light);\n        --color-gauge-light: rgba(19,1,106,0.8);\n        --color-gauge-dark: rgba(229,156,131,0.8);\n        --color-gauge: var(--color-gauge-light);\n        --color-background-primary-light: rgba(230,246,246,1);\n        --color-background-secondary-light: rgba(188,212,217,0.5);\n        --color-background-primary-dark: rgba(17,02,02,1);\n        --color-background-secondary-dark: rgba(07,0,0,0.8);\n        --color-background-primary: var(--color-background-primary-light);\n        --color-background-secondary: var(--color-background-primary-light);\n    }\n    /*\n    Various CSS segments borrowed from the Node Red forums and customized\n    */\n    .nr-dashboard-template {\n        padding: 0px;\n    }\n    .masonry-container {\n        position: relative;\n        width: 100%;\n        height:100%;\n        margin: 0 auto;\n        background: linear-gradient(180deg,  var(--color-background-primary) 0%, var(--color-background-secondary) 100%); \n    }\n    .nr-dashboard-cardcontainer {\n        position: relative;\n        box-shadow: inset 0px 1px 4px 0px #000000bb;\n        border-radius: 10px;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        background-color: #33333300;\n        color:var(--color-text);\n        border-radius: 10px;\n        box-shadow: 0 0 8px 0px #00000080;\n    }\n    body.nr-dashboard-theme md-content md-card {\n        background-color: #33333300;\n        color: var(--color-text);\n        text-shadow: 4px 2px 4px #00000045;\n        box-shadow: 0 -1px 5px 1px #00000045;\n        border-radius: 10px;\n        border: 1px solid var(--color-widget-border);\n    }\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: var(--color-text);\n    }\n    .nr-dashboard-theme .nr-dashboard-gauge text {\n        fill: var(--color-gauge);\n        margin: 8px;\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button  {\n        display: inline-block;\n        position: relative;\n        cursor: pointer;\n        min-height: 36px;\n        min-width: 88px;\n        line-height: 36px;\n        vertical-align: middle;\n        align-items: center;\n        text-align: center;\n        border-radius: 12px;\n        box-sizing: border-box;\n        -webkit-user-select: none;\n        -moz-user-select: none;\n        -ms-user-select: none;\n        user-select: none;\n        outline: none;\n        border: 0;\n        padding: 0 6px;\n        margin: 6px 8px;\n        background: transparent;\n        color:var(--color-text);\n        white-space: nowrap;\n        text-transform: uppercase;\n        font-weight: 500;\n        font-size: 14px;\n        font-style: inherit;\n        font-variant: inherit;\n        font-family: inherit;\n        text-decoration: none;\n        overflow: hidden;\n        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n    }\n    .nr-dashboard-theme .nr-dashboard-template .md-button:disabled {\n        color: var(--color-disabled);\n    }\n    md-toolbar#toolbar{\n        color: #ffffffff;\n        background: linear-gradient(120deg, var(--color-main) 20%, var(--color-background-secondary) 100%); \n    }\n    body.nr-dashboard-theme md-sidenav {\n        color: var(--color-text);\n    }\n    body.nr-dashboard-theme md-sidenav {\n        color: var(--color-text);\n        background: linear-gradient(120deg, var(--color-main) 60%, var(--color-background-primary)); \n    }\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: var(--color-background-secondary);\n        background-color: transparent;\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: #88888800;\n        color:var(--color-text);\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n        background-color: #88888855;\n    }\n    .nr-dashboard-theme .nr-dashboard-slider .md-track {\n        background-color: var(--color-main);\n    }\n    md-slider .md-thumb {\n        box-shadow: 0 0 10px 0px #101086;\n    }    \n    .nr-dashboard-slider .md-thumb:after {\n        background-image: linear-gradient(to bottom right, var(--color-button), var(--color-tint));\n        border-style: none;\n    }\n    .nr-dashboard-theme .nr-dashboard-template ::-webkit-scrollbar {\n        background-color: #666666;\n    }\n    .nr-dashboard-theme .nr-dashboard-template ::-webkit-scrollbar-thumb {\n        background-color: var(--color-main);\n    }\n    md-switch .md-thumb {\n        background-color: var(--color-main);\n    }\n    md-switch .md-bar {\n        background-color: var(--color-background-secondary);\n    }\n    md-switch.md-checked:not([disabled]) .md-bar {\n        background-color: var(--color-button) !important; \n    }\n    md-switch.md-checked:not([disabled]) .md-thumb {\n        background-color: var(--color-text) !important;\n    }\n    .nr-dashboard-theme .nr-dashboard-numeric .value {\n        background:unset;\n        color:var(--color-text);\n    }\n    .nr-dashboard-theme md-select-menu md-option {\n        background-color:  var(--color-background-primary);\n        color: var(--color-text);\n        height: 29px;\n        border-radius: 10px;*/\n        smargin-left: 10px;\n        margin-right: 10px;\n        margin-top: 2px;\n        box-shadow: 0 0 6px 6px #24202133;\n        transition: 0.3s;\n    }\n    .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n        margin-top: -3px;\n        border-color: var(--color-widget-border);\n        color: var(--color-text);\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: var(--color-text) !important;\n        background-color: var(--color-background-primary) !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option:last-child {\n        margin-bottom: 8px;\n    }\n    .nr-dashboard-theme md-select-menu md-option:hover {\n        background-color: var(--color-selection) !important;\n        padding-left: 24px;\n    }\n    .nr-dashboard-theme md-select-menu md-option .md-ripple-container{\n        border-radius: 10px;\n    }\n</style>\n\n<script id=\"headScript\" type=\"text/javascript\">\n    /*\n    Javascript to inject UI elements into the top of all dashboards (head)\n    */\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div0 = $('<div/>');\n        var logo = new Image();\n        if ( window.screen.width > 640 ) {\n            logo.src = '/plugins/signalk-node-red/redAdmin/red/images/Boatcontrol_Logo.png'\n        } else {\n             logo.src = '/plugins/signalk-node-red/redAdmin/red/images/Boatcontrol_Logo_Small.png'\n        }\n        logo.height = 45;\n\n        div0[0].style.margin = '10px auto';\n        div0[0].style.width = '100px';\n        div0[0].style.float = 'left';\n        div0[0].style.align = 'center';\n        div0.append(logo);\n        \n        \n        //add clock\n        var div1 = $('<div/>');\n        var p = $('<p/>');\n\n        div1.append(p);\n        div1[0].style.margin = '5px';\n        div1[0].style.width = '120px';\n        div1[0].style.float = 'right';\n        div0[0].style.align = 'right';\n\n        function displayTime() {\n            p.text(new Date().toLocaleTimeString());\n\n        }\n        \n        p[0].style.fontFamily = \"Ubuntu\"\n        p[0].style.fontSize = \"x-large\"\n        p[0].style.fontWeight = \"bold\"\n        \n        //add day/night mode button\n        var div2 = $('<div/>');\n        var button = document.createElement('BUTTON');\n        var html = document.getElementsByTagName('html')[0];\n        var elem = window.getComputedStyle(html);\n        var night_icon = document.createElement(\"night\");\n        var day_icon = document.createElement(\"day\");\n        day_icon.className =\"fa fa-sun-o\";\n        night_icon.className =\"fa fa-moon-o\";\n        button.appendChild(night_icon);\n        button.onclick = function(){\n            button.replaceChild((button.firstChild.nodeName == \"NIGHT\") ? day_icon : night_icon, (button.firstChild.nodeName == \"DAY\") ? day_icon : night_icon);\n     \n            html.style.setProperty(\"--color-main\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-main-light\") : elem.getPropertyValue(\"--color-main-dark\"));\n            html.style.setProperty(\"--color-text\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-text-light\") : elem.getPropertyValue(\"--color-text-dark\"));\n            html.style.setProperty(\"--color-button\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-button-light\") : elem.getPropertyValue(\"--color-button-dark\"));\n            html.style.setProperty(\"--color-gauge\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-gauge-light\") : elem.getPropertyValue(\"--color-gauge-dark\"));\n            html.style.setProperty(\"--color-selection\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-selection-light\") : elem.getPropertyValue(\"--color-selection-dark\"));\n            html.style.setProperty(\"--color-tint\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-tint-light\") : elem.getPropertyValue(\"--color-tint-dark\"));\n            html.style.setProperty(\"--color-background-primary\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-background-primary-light\") : elem.getPropertyValue(\"--color-background-primary-dark\"));\n            html.style.setProperty(\"--color-background-secondary\",(button.firstChild.nodeName == \"NIGHT\") ? elem.getPropertyValue(\"--color-background-secondary-light\") :elem.getPropertyValue(\"--color-background-secondary-dark\"));\n        }\n\n        div2[0].style.margin = '5px auto';\n        div2[0].style.width = '60px';\n        div2[0].style.float = 'right';\n        button.tooltip = 'Switch between night(dark) and day(light) themes';\n        button.style.color = elem.getPropertyValue(\"--color-widget\");\n        button.style.background = elem.getPropertyValue(\"--color-widget-trans\");\n        button.style.borderRadius = '20%';\n        div2.append(button);\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n                toolbar.append(div0);\n                // Only add clock on screens with enough width\n               if (window.screen.width > 640) {\n                    toolbar.append(div1);\n                }\n                toolbar.append(div2);\n                clearInterval(addToToolbarTimer);\n            }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":590,"y":60,"wires":[[]]},{"id":"5198b8bf.fdefa8","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"V-Berth","tooltip":"Desired Temperature","group":"78f4182c.22c0d8","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":380,"y":1080,"wires":[[]]},{"id":"5a4e5638.187758","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Aft Cabin","tooltip":"Desired Temperature","group":"78f4182c.22c0d8","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":380,"y":1120,"wires":[[]]},{"id":"1c5cda2f.f805d6","type":"ui_numeric","z":"3fdbb98a.3e95c6","name":"","label":"Head","tooltip":"Desired Temperature","group":"78f4182c.22c0d8","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}°C","min":"15","max":"40","step":1,"x":370,"y":1160,"wires":[[]]},{"id":"c208127e.c96ab","type":"ui_chart","z":"3fdbb98a.3e95c6","name":"","group":"96bdbd.24ef024","order":6,"width":0,"height":0,"label":"V-Berth","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":620,"y":1080,"wires":[[]]},{"id":"d24eef0c.83727","type":"ui_chart","z":"3fdbb98a.3e95c6","name":"","group":"96bdbd.24ef024","order":6,"width":0,"height":0,"label":"Aft Cabin","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":620,"y":1120,"wires":[[]]},{"id":"1f13281f.8ca7c8","type":"ui_chart","z":"3fdbb98a.3e95c6","name":"","group":"96bdbd.24ef024","order":6,"width":0,"height":0,"label":"Head","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":610,"y":1160,"wires":[[]]},{"id":"7f5952fd.d7040c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":300,"wires":[["b1516ac7.b81668"]]},{"id":"ff2be4d1.1db608","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":660,"wires":[["8ec793c7.79576"]]},{"id":"286c3f29.436a9","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":60,"wires":[["1aa534eb.6331ab"]]},{"id":"8329d345.e9989","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":460,"wires":[["3d5792a6.4ad17e"]]},{"id":"ecfafa1.96fbf08","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":420,"wires":[["a7db6cd2.4b786"]]},{"id":"75968c67.19fb84","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":180,"wires":[["36fb55e5.b3a99a"]]},{"id":"b360a082.5fe17","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":580,"wires":[["7ecded27.1389c4"]]},{"id":"f944d93.ccdbe28","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":220,"wires":[["66b91623.561538"]]},{"id":"83b64bc1.a8d0c8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":260,"wires":[["519d9407.403f2c"]]},{"id":"b27281dd.57678","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":540,"wires":[["80cdc3c9.13b2e"]]},{"id":"5be118d4.efb2e8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":140,"wires":[["e1a63ca9.015ab"]]},{"id":"c54e5c59.f614b","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":500,"wires":[["f12719ce.6593c8"]]},{"id":"ac5ecccf.fb8a1","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":380,"wires":[["ab46a0ef.84749"]]},{"id":"200e0fe0.c93d3","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":620,"wires":[["3cf8d8be.4330c8"]]},{"id":"d58454bb.cc9158","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":340,"wires":[["99f8e3a3.5ea11"]]},{"id":"13a2a6b3.898b29","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":1280,"wires":[]},{"id":"6e591f7b.0518d","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":1000,"wires":[]},{"id":"2c88ce50.4f2f92","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":1200,"wires":[]},{"id":"be901256.eea9d","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":920,"wires":[]},{"id":"20b6686d.c3b988","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":1120,"wires":[]},{"id":"7af474f0.ce80bc","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":840,"wires":[]},{"id":"44ae48a8.225b48","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":1040,"wires":[]},{"id":"2e38d792.17f618","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":760,"wires":[]},{"id":"f7ec4ee9.149c9","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":960,"wires":[]},{"id":"aca47e5d.c0b18","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":1320,"wires":[]},{"id":"8a711394.ff3c5","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":880,"wires":[]},{"id":"aa5534c9.9f3ed8","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":1240,"wires":[]},{"id":"8ba38a10.acd958","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":800,"wires":[]},{"id":"67fff6f5.0c4f28","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":1160,"wires":[]},{"id":"3759c737.cabb88","type":"comment","z":"3fdbb98a.3e95c6","name":"Green","info":"","x":3010,"y":720,"wires":[]},{"id":"20fe937c.4c584c","type":"comment","z":"3fdbb98a.3e95c6","name":"Red","info":"","x":3010,"y":1080,"wires":[]},{"id":"93a9bd8e.67844","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Outboard Charger","tooltip":"Charge the electric outboard motor","group":"548957a1.37c778","order":10,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-code-fork","oncolor":"#ffff33","offvalue":"false","offvalueType":"bool","officon":"fa-code-fork","offcolor":"#555555","x":2430,"y":560,"wires":[["ebdd1365.f94bd","8989671e.0f77e8"]]},{"id":"2210baa2.9f3ce6","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"EC Electrical Sockets","tooltip":"High Power Engine Compartment Electrical Sockets","group":"548957a1.37c778","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"#94ff94","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"#555555","x":2420,"y":640,"wires":[["43a5267f.910c88","75226004.c797d"]]},{"id":"a67aaa7f.f10608","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Compass & GPS","tooltip":"NMEA Compass, Gyro and GPS","group":"3f126a42.d45686","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-compass","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-compass","offcolor":"#555555","x":1310,"y":1500,"wires":[["d3031b2c.fab018","e4b3a3e8.bc212"]]},{"id":"ddeef340.d24ce","type":"bigtimer","z":"3fdbb98a.3e95c6","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":"5000","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":360,"y":60,"wires":[[],[],[]]},{"id":"cf604468.71d368","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2780,"y":100,"wires":[["aba70d5a.a9227"]]},{"id":"753a6ba.7c15394","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":80,"wires":[["286c3f29.436a9"],["cf604468.71d368"]]},{"id":"588c30eb.63c4d","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":160,"wires":[["5be118d4.efb2e8"],["75968c67.19fb84"]]},{"id":"5025d915.dcefb8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":240,"wires":[["f944d93.ccdbe28"],["83b64bc1.a8d0c8"]]},{"id":"6dcba679.08b2e8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":320,"wires":[["7f5952fd.d7040c"],["d58454bb.cc9158"]]},{"id":"e419efc5.fb07c","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":400,"wires":[["ac5ecccf.fb8a1"],["ecfafa1.96fbf08"]]},{"id":"bd36446a.0b5bb8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":480,"wires":[["8329d345.e9989"],["c54e5c59.f614b"]]},{"id":"ebdd1365.f94bd","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":560,"wires":[["b27281dd.57678"],["b360a082.5fe17"]]},{"id":"43a5267f.910c88","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2610,"y":640,"wires":[["200e0fe0.c93d3"],["ff2be4d1.1db608"]]},{"id":"d3031b2c.fab018","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1500,"wires":[["ddeb8254.5d88b"],["83301061.84d12"]]},{"id":"ddeb8254.5d88b","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1480,"wires":[["42570394.231a9c"]]},{"id":"83301061.84d12","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1520,"wires":[["ae90fc7d.14087"]]},{"id":"e2a4e68.7f9d118","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1560,"wires":[["afe4d80.e7b7728"]]},{"id":"b81d506a.56747","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1600,"wires":[["1eaf0d03.194953"]]},{"id":"8353ca6b.45cad8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1640,"wires":[["cb92807a.07b2c"]]},{"id":"6c2c98af.5811b8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1680,"wires":[["464eacfd.e55394"]]},{"id":"faf27e2b.1fc41","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1720,"wires":[["302dbf44.ab0dd"]]},{"id":"29e7937f.4895bc","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1760,"wires":[["c36e9d8e.ea596"]]},{"id":"c497e62f.402e08","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1400,"wires":[["ab87bbe5.9de698"]]},{"id":"41b4155a.4678ec","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1440,"wires":[["6bd1f475.2420cc"]]},{"id":"f4ba3089.2654","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1800,"wires":[["e5f6b116.35eb2"]]},{"id":"5f46f2b5.9f2dec","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1840,"wires":[["501b617a.5bb31"]]},{"id":"50ea81f6.db41c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1880,"wires":[["b4f7df44.3f715"]]},{"id":"616ee8de.23c9c8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1920,"wires":[["747a37b4.a58388"]]},{"id":"42719ae8.a96484","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1960,"wires":[["7fa04328.bbdfec"]]},{"id":"52100ee2.ccca7","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2000,"wires":[["38156ed6.2300e2"]]},{"id":"f1c213c3.555db","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2040,"wires":[["772f9391.0d5f5c"]]},{"id":"36d4112a.d5e79e","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2080,"wires":[["91c49f39.93033"]]},{"id":"85eeaa86.6ba928","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2120,"wires":[["655b1064.f03dc"]]},{"id":"7671e58b.1f9d4c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2160,"wires":[["f57747b4.77a218"]]},{"id":"5038f147.ff564","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2200,"wires":[["e1076442.94d558"]]},{"id":"67b8e684.7c0a08","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2240,"wires":[["4796556d.a63fcc"]]},{"id":"4c27e141.34597","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2280,"wires":[["f7104137.4da0c"]]},{"id":"321ac7ec.92cda8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2320,"wires":[["959f526e.c6557"]]},{"id":"becedb82.28b598","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2360,"wires":[["7cc60eb2.5a3c5"]]},{"id":"d6acbcb5.1b207","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2400,"wires":[["2240c2d3.190d5e"]]},{"id":"588a2c62.787474","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2440,"wires":[["447d21b3.0ba44"]]},{"id":"4881ff8e.05ceb","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2480,"wires":[["379b4ec1.699442"]]},{"id":"f9a20dd3.5a0a4","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2520,"wires":[["8ef1e2fe.4b31d"]]},{"id":"1a552957.d2b217","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2560,"wires":[["f811b2e6.365b2"]]},{"id":"1d547bfe.290884","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2600,"wires":[["ba5f6499.d3ea88"]]},{"id":"414b94d3.bc3b1c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":2640,"wires":[["291f1a95.5e9d26"]]},{"id":"e0562f5.51e31d","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1580,"wires":[["e2a4e68.7f9d118"],["b81d506a.56747"]]},{"id":"8e9b619d.c26df","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1660,"wires":[["8353ca6b.45cad8"],["6c2c98af.5811b8"]]},{"id":"d1130f2c.8bd55","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1740,"wires":[["faf27e2b.1fc41"],["29e7937f.4895bc"]]},{"id":"5d2be8b4.b245f8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1420,"wires":[["c497e62f.402e08"],["41b4155a.4678ec"]]},{"id":"f65e8586.a9e988","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1820,"wires":[["f4ba3089.2654"],["5f46f2b5.9f2dec"]]},{"id":"6099d998.792868","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1900,"wires":[["50ea81f6.db41c"],["616ee8de.23c9c8"]]},{"id":"7602b3c2.15469c","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1980,"wires":[["42719ae8.a96484"],["52100ee2.ccca7"]]},{"id":"a1773370.372da","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2060,"wires":[["f1c213c3.555db"],["36d4112a.d5e79e"]]},{"id":"81f0f4ad.884e28","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2140,"wires":[["85eeaa86.6ba928"],["7671e58b.1f9d4c"]]},{"id":"6e7eec9e.83f784","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2220,"wires":[["5038f147.ff564"],["67b8e684.7c0a08"]]},{"id":"cdaadc7.9ca9a2","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2300,"wires":[["4c27e141.34597"],["321ac7ec.92cda8"]]},{"id":"7a689e32.1f73d","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2380,"wires":[["becedb82.28b598"],["d6acbcb5.1b207"]]},{"id":"d0a2db4c.510518","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2460,"wires":[["588a2c62.787474"],["4881ff8e.05ceb"]]},{"id":"78febda4.f05c54","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2540,"wires":[["f9a20dd3.5a0a4"],["1a552957.d2b217"]]},{"id":"29d56d03.e8ea42","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":2620,"wires":[["1d547bfe.290884"],["414b94d3.bc3b1c"]]},{"id":"99aac773.7e37d8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":100,"wires":[["f207d983.fa7818"],["7500183d.e56628"]]},{"id":"f207d983.fa7818","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":80,"wires":[["a46e65b1.0c4b58"]]},{"id":"7500183d.e56628","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":120,"wires":[["d3fbf200.32b56"]]},{"id":"7cbe05f7.f6519c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":160,"wires":[["88c0e459.d30458"]]},{"id":"eaf96fc6.a3f42","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":200,"wires":[["30a9c71e.460768"]]},{"id":"69c3b7ff.9f69e8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":240,"wires":[["30d0226e.26b50e"]]},{"id":"f946e0f4.ffabb","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":280,"wires":[["252a4f1f.5b7c5"]]},{"id":"f6a7140.cf721f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":320,"wires":[["651395b5.a2c91c"]]},{"id":"daf74459.dc65b8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":360,"wires":[["473f025a.3a3a0c"]]},{"id":"f7afd044.6d6fe","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":400,"wires":[["a2344fd8.2cbb8"]]},{"id":"4eacbac8.99c3d4","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":440,"wires":[["960ae4ca.dec508"]]},{"id":"e2cd12b7.b97c3","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":480,"wires":[["4caec317.f5335c"]]},{"id":"cad4decd.9f6c8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":520,"wires":[["99992d01.7a69f"]]},{"id":"7ac2d6a6.3b5ae8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":560,"wires":[["60552f59.82b9b"]]},{"id":"66503bad.268764","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":600,"wires":[["375f7e3e.1dff82"]]},{"id":"a930176b.9cb848","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":640,"wires":[["cb8e223c.e2126"]]},{"id":"52bf813c.6cd54","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":680,"wires":[["3c46d329.cd8dcc"]]},{"id":"77ad4518.cdafec","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":740,"wires":[["b739c9d0.afbac8"]]},{"id":"be8eb737.7a3448","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":780,"wires":[["70b80014.99784"]]},{"id":"5da66b29.ae5504","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":820,"wires":[["21b5df39.f1246"]]},{"id":"229ddb84.484e54","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":860,"wires":[["78f59bb1.d194a4"]]},{"id":"6b8e3029.ffeff","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":900,"wires":[["4f26876d.1d3d48"]]},{"id":"73b1ce75.d050c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":940,"wires":[["94ce9503.1a9638"]]},{"id":"1aa72206.16f98e","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":980,"wires":[["8859a48c.c99ee8"]]},{"id":"aba52c8.4e5a1d","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1020,"wires":[["14e7d78d.dbe5c8"]]},{"id":"a46c5b69.3ddae8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1060,"wires":[["56d15632.8ae2e8"]]},{"id":"11410780.1d7219","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1100,"wires":[["c86051c0.f532c"]]},{"id":"39b23d1a.04c4f2","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1140,"wires":[["f2365a89.80de28"]]},{"id":"cbbd0fc6.d0869","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1180,"wires":[["eb0f8316.38324"]]},{"id":"3cdb0670.6b372a","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1220,"wires":[["361a829f.44ce5e"]]},{"id":"599a5e60.df2d3","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1260,"wires":[["ac69909e.362d4"]]},{"id":"9ce9e5f3.b434a8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1300,"wires":[["2163ceb3.ef30f2"]]},{"id":"e9070a59.009f98","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1660,"y":1340,"wires":[["265b7cb.891ed84"]]},{"id":"bef2f196.7956f","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":180,"wires":[["7cbe05f7.f6519c"],["eaf96fc6.a3f42"]]},{"id":"e101bf6e.07dd2","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":260,"wires":[["69c3b7ff.9f69e8"],["f946e0f4.ffabb"]]},{"id":"b35253d9.8f137","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":340,"wires":[["f6a7140.cf721f"],["daf74459.dc65b8"]]},{"id":"4e10be39.38e65","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":420,"wires":[["f7afd044.6d6fe"],["4eacbac8.99c3d4"]]},{"id":"6350d93c.c143f8","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":500,"wires":[["e2cd12b7.b97c3"],["cad4decd.9f6c8"]]},{"id":"1a6ff46f.449bac","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":580,"wires":[["7ac2d6a6.3b5ae8"],["66503bad.268764"]]},{"id":"69e05222.54a77c","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":660,"wires":[["a930176b.9cb848"],["52bf813c.6cd54"]]},{"id":"ce16b77b.643b18","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":760,"wires":[["77ad4518.cdafec"],["be8eb737.7a3448"]]},{"id":"52f3efea.b7bf","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":840,"wires":[["5da66b29.ae5504"],["229ddb84.484e54"]]},{"id":"30b02759.79b328","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":920,"wires":[["6b8e3029.ffeff"],["73b1ce75.d050c"]]},{"id":"5d8d7280.3f8a4c","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1000,"wires":[["1aa72206.16f98e"],["aba52c8.4e5a1d"]]},{"id":"66ad9c17.bb51d4","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1080,"wires":[["a46c5b69.3ddae8"],["11410780.1d7219"]]},{"id":"bbe8c62.3140738","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1160,"wires":[["39b23d1a.04c4f2"],["cbbd0fc6.d0869"]]},{"id":"6540c811.429d08","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1240,"wires":[["3cdb0670.6b372a"],["599a5e60.df2d3"]]},{"id":"2c947e85.a786a2","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":1490,"y":1320,"wires":[["9ce9e5f3.b434a8"],["e9070a59.009f98"]]},{"id":"156a3b1a.bdcd05","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":100,"wires":[["862b16fd.447ed8"]]},{"id":"d102914a.2c1a8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":100,"wires":[["156a3b1a.bdcd05"]]},{"id":"2dbf50bf.79ca","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":180,"wires":[["e5b78814.1b0188"]]},{"id":"d7616607.2c92f8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":180,"wires":[["2dbf50bf.79ca"]]},{"id":"4fa3616b.aab1b","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":260,"wires":[["30364328.dc14bc"]]},{"id":"b9747043.b3024","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":260,"wires":[["4fa3616b.aab1b"]]},{"id":"a1e22eae.c8a75","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":340,"wires":[["6c7637ac.6fb528"]]},{"id":"b09b0b50.6a18a8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":340,"wires":[["a1e22eae.c8a75"]]},{"id":"453dcaa9.4491b4","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":420,"wires":[["8faabb65.4d07d8"]]},{"id":"9e5eb2d8.51b52","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":420,"wires":[["453dcaa9.4491b4"]]},{"id":"18751f7b.f9dc11","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":500,"wires":[["51b2cb78.8d8b54"]]},{"id":"c96b05d5.b04df8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":500,"wires":[["18751f7b.f9dc11"]]},{"id":"eb0c6274.39146","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":580,"wires":[["e62a7b27.276488"]]},{"id":"27179c0b.babda4","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":580,"wires":[["eb0c6274.39146"]]},{"id":"aa24f8e.690d908","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":660,"wires":[[]]},{"id":"2b3be60d.f10aba","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":860,"y":660,"wires":[["aa24f8e.690d908"]]},{"id":"7f7d20be.49b6d","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":760,"wires":[["3fb36809.269848"]]},{"id":"c293512d.e8e7f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":760,"wires":[["7f7d20be.49b6d"]]},{"id":"d3cb34dc.766bd8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":840,"wires":[["81f1a134.bbad4"]]},{"id":"d98ef791.d3a6f8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":840,"wires":[["d3cb34dc.766bd8"]]},{"id":"ca970f81.dafca","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":920,"wires":[["3b14a0c2.c472"]]},{"id":"66ba28eb.e0f858","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":920,"wires":[["ca970f81.dafca"]]},{"id":"60083d98.ea91b4","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1000,"wires":[["61706856.c7c848"]]},{"id":"5ae548b9.53d7c8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1000,"wires":[["60083d98.ea91b4"]]},{"id":"36f3b9b8.139566","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1080,"wires":[["7c1de61f.753958"]]},{"id":"f41622ea.b81bb","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1080,"wires":[["36f3b9b8.139566"]]},{"id":"9a1fa6b2.5a9998","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1160,"wires":[["fc7d0605.69cf68"]]},{"id":"bdc65da7.e2175","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1160,"wires":[["9a1fa6b2.5a9998"]]},{"id":"143da468.b45bbc","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1240,"wires":[["d62e78bb.8b73c8"]]},{"id":"5449f5fc.10678c","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1240,"wires":[["143da468.b45bbc"]]},{"id":"8e36f79c.f6d558","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1320,"wires":[["20fbc37d.98169c"]]},{"id":"1359b193.3a641e","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1320,"wires":[["8e36f79c.f6d558"]]},{"id":"749a8a4c.00a5b4","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1500,"wires":[["a67aaa7f.f10608"]]},{"id":"e4b3a3e8.bc212","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1500,"wires":[["749a8a4c.00a5b4"]]},{"id":"824dfc25.46ed5","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1580,"wires":[["27ee9167.578fee"]]},{"id":"71310030.2da87","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1580,"wires":[["824dfc25.46ed5"]]},{"id":"856e7eec.a088","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1660,"wires":[["c7fd5626.f83e18"]]},{"id":"2ce1afb2.50754","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1660,"wires":[["856e7eec.a088"]]},{"id":"b2b88436.bb4ab8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1740,"wires":[["6d58d415.6564fc"]]},{"id":"12b73f1a.c9fff1","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1740,"wires":[["b2b88436.bb4ab8"]]},{"id":"46351dcd.2fb8a4","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1420,"wires":[["6afcf70a.7aa408"]]},{"id":"d1f8e70b.23e628","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1420,"wires":[["46351dcd.2fb8a4"]]},{"id":"5e04f194.347c1","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1820,"wires":[["8f5ce30d.7f9cd"]]},{"id":"b349bc79.b8905","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1820,"wires":[["5e04f194.347c1"]]},{"id":"4b58f94c.e02b58","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1900,"wires":[["79ec2393.5c56bc"]]},{"id":"889402e1.81e39","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1900,"wires":[["4b58f94c.e02b58"]]},{"id":"10ef986.83b8d68","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1980,"wires":[["c947d480.259768"]]},{"id":"e63612df.7324d","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":1980,"wires":[["10ef986.83b8d68"]]},{"id":"1bccabfa.cc9954","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2060,"wires":[["100a5daa.b49b52"]]},{"id":"30d47b9b.2ca404","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2060,"wires":[["1bccabfa.cc9954"]]},{"id":"bfd63d29.de1b5","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2140,"wires":[["dafb97a.fa7e268"]]},{"id":"3331c579.3456fa","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2140,"wires":[["bfd63d29.de1b5"]]},{"id":"46a03195.487f4","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2220,"wires":[["773be4d5.c4e1bc"]]},{"id":"2d60ceb2.b4a032","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2220,"wires":[["46a03195.487f4"]]},{"id":"b2ee6fb2.aa5c8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2300,"wires":[["36babf3f.d19f8"]]},{"id":"e2c23cfa.b6e1e","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2300,"wires":[["b2ee6fb2.aa5c8"]]},{"id":"52e8d206.3669ec","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2380,"wires":[["2a4f4cc7.daa1a4"]]},{"id":"89a82873.7b94e8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2380,"wires":[["52e8d206.3669ec"]]},{"id":"c48fd83f.da0fb8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2460,"wires":[["1338a4d8.5da56b"]]},{"id":"d0f0073b.deb398","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2460,"wires":[["c48fd83f.da0fb8"]]},{"id":"13a64810.9f93b8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2540,"wires":[["d4e24d9d.2dfe9"]]},{"id":"18c0cdb8.150582","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2540,"wires":[["13a64810.9f93b8"]]},{"id":"7d77a4ec.a4d21c","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2620,"wires":[["ac62ba2c.049bd8"]]},{"id":"fdfe0f30.94ab4","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"700","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":2620,"wires":[["7d77a4ec.a4d21c"]]},{"id":"d6e5d3a9.fd54b","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":80,"wires":[["472f0133.270d1"]]},{"id":"33f638d8.900578","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":80,"wires":[["d6e5d3a9.fd54b"]]},{"id":"5791df4f.a414","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":160,"wires":[["9ca1839a.2716e"]]},{"id":"7f4a23ca.db22cc","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":160,"wires":[["5791df4f.a414"]]},{"id":"d0ee9aac.563068","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":240,"wires":[["d37f6a2e.df6f58"]]},{"id":"e7801f9d.cc47f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":240,"wires":[["d0ee9aac.563068"]]},{"id":"b1bdd90d.f4d188","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":320,"wires":[["9724fd80.f20a9"]]},{"id":"9ab69d99.7c29d","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":320,"wires":[["b1bdd90d.f4d188"]]},{"id":"5b6978e1.68ea28","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":400,"wires":[["b5e83a16.5b7018"]]},{"id":"6086d343.5226ac","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":400,"wires":[["5b6978e1.68ea28"]]},{"id":"b81d7a5e.05c1d8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":480,"wires":[["7b108d14.d09e14"]]},{"id":"a167c0a1.ac89f","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":480,"wires":[["b81d7a5e.05c1d8"]]},{"id":"a499e74c.9fb1e8","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":560,"wires":[["93a9bd8e.67844"]]},{"id":"8989671e.0f77e8","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":560,"wires":[["a499e74c.9fb1e8"]]},{"id":"feb561a7.4d395","type":"change","z":"3fdbb98a.3e95c6","name":"disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":640,"wires":[["2210baa2.9f3ce6"]]},{"id":"75226004.c797d","type":"trigger","z":"3fdbb98a.3e95c6","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1980,"y":640,"wires":[["feb561a7.4d395"]]},{"id":"dc0de0ec.867c7","type":"FilterUltimate","z":"3fdbb98a.3e95c6","name":"Filter","x":2210,"y":1260,"wires":[[],[]]},{"id":"61706856.c7c848","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Plotter (Radar)","tooltip":"Plotter including Radar","group":"3f126a42.d45686","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-laptop","oncolor":"#ffffff","offvalue":"false","offvalueType":"bool","officon":"fa-laptop","offcolor":" #555555","x":1320,"y":1000,"wires":[["5d8d7280.3f8a4c","5ae548b9.53d7c8"]]},{"id":"27ee9167.578fee","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Heating & Genset Controllers","tooltip":"Genset controller and Honeywell Evohome thermostats and actuators","group":"3f126a42.d45686","order":12,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thermometer","oncolor":"#ffcb87","offvalue":"false","offvalueType":"bool","officon":"fa-thermometer","offcolor":"#555555","x":1280,"y":1580,"wires":[["e0562f5.51e31d","71310030.2da87"]]},{"id":"56d1c0b2.aee6e","type":"ui_template","z":"3fdbb98a.3e95c6","group":"3f126a42.d45686","name":"Windlass Down","order":3,"width":"0","height":"0","format":"<div id=\"windlass_down\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Windlass Down\n      <i class=\"fa fa-anchor\"></i>\n      <i class=\"fa fa-arrow-down\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#windlass_down').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass_down\",\"payload\": true});\n    });\n    \n    $('#windlass_down').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"windlass_down\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2520,"y":1160,"wires":[["37c21213.68889e"]]},{"id":"6afcf70a.7aa408","type":"ui_switch","z":"3fdbb98a.3e95c6","name":"","label":"Gauges & Sensors","tooltip":"","group":"91847b15.392f38","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-clock-o","oncolor":"#ffffab","offvalue":"false","offvalueType":"bool","officon":"fa-clock-o","offcolor":"#555555","x":1310,"y":1420,"wires":[["5d2be8b4.b245f8","d1f8e70b.23e628"]]},{"id":"37ce466d.72939a","type":"ui_template","z":"3fdbb98a.3e95c6","group":"5308aea2.0035","name":"Head Cold Water","order":7,"width":"0","height":"0","format":"<div id=\"cold_water_head\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Cold Water Head\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#cold_water_head').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"cold_water_head\",\"payload\": true});\n    });\n    \n    $('#cold_water_head').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"cold_water_head\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2510,"y":960,"wires":[["1af5583f.8ae9e8"]]},{"id":"a8fb529c.cbeac","type":"ui_template","z":"3fdbb98a.3e95c6","group":"5308aea2.0035","name":"Head Hot Water","order":7,"width":"0","height":"0","format":"<div id=\"hot_water_head\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Hot Water Head\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#hot_water_head').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_head\",\"payload\": true});\n    });\n    \n    $('#hot_water_head').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_head\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2520,"y":1000,"wires":[["d04381b0.b0094"]]},{"id":"211daef5.cf1e32","type":"ui_template","z":"3fdbb98a.3e95c6","group":"5308aea2.0035","name":"Galley Cold Water","order":7,"width":"0","height":"0","format":"<div id=\"cold_water_galley\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Cold Water Galley\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#cold_water_galley').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"cold_water_galley\",\"payload\": true});\n    });\n    \n    $('#cold_water_galley').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"cold_water_galley\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2510,"y":1040,"wires":[["98ac0597.883c78"]]},{"id":"68c851ba.19887","type":"ui_template","z":"3fdbb98a.3e95c6","group":"5308aea2.0035","name":"Galley Hot Water","order":7,"width":"0","height":"0","format":"<div id=\"hot_water_galley\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Hot Water Galley\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#hot_water_galley').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_galley\",\"payload\": true});\n    });\n    \n    $('#hot_water_galley').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_galley\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2510,"y":1080,"wires":[["5a9dbdd3.7ab484"]]},{"id":"721f1157.24a23","type":"ui_template","z":"3fdbb98a.3e95c6","group":"5308aea2.0035","name":"Shower Hot Water","order":7,"width":"0","height":"0","format":"<div id=\"hot_water_shower\">\n   <md-button style=\"width: 100%; \n                    height: 45px; \n                    margin:0px; \n                    padding: 0px; \n                    background-color:var(--color-button)\">\n      Shower\n      <i class=\"fa fa-stop-circle-o\"></i>\n   </md-button>\n</div>\n\n<script>\n    (function($scope) {\n        \n    $('#hot_water_shower').on('touchstart mousedown', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_shower\",\"payload\": true});\n    });\n    \n    $('#hot_water_shower').on('touchend mouseup', function(e) {\n        e.preventDefault(); //prevent default behavior\n        $scope.send({\"topic\":\"hot_water_shower\",\"payload\": false});\n    });\n        \n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2510,"y":1200,"wires":[["53b4aaed.da8be4"]]},{"id":"ada795cf.6937e8","type":"inject","z":"3fdbb98a.3e95c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":2390,"y":1240,"wires":[["1050f2a2.81e93d"]]},{"id":"9db070bf.b75ee","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"Generator","label":"A","format":"{{value}}","min":"0","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":400,"wires":[]},{"id":"41cb683c.b9ff38","type":"ui_gauge","z":"3fdbb98a.3e95c6","name":"","group":"b5bb579e.f0f868","order":0,"width":0,"height":0,"gtype":"gage","title":"Inverter / Battery","label":"A","format":"{{value}}","min":"0","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":440,"wires":[]},{"id":"91847b15.392f38","type":"ui_group","name":"Lights","tab":"621795d4.5a093c","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc688149.611fe","type":"ui_group","name":"RPM","tab":"fbffba0f.997c98","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee2fd385.3b18c","type":"ui_group","name":"Temp","tab":"fbffba0f.997c98","order":3,"disp":true,"width":"6","collapse":false},{"id":"9920271d.097a98","type":"ui_group","name":"Pressure","tab":"fbffba0f.997c98","order":4,"disp":true,"width":"6","collapse":false},{"id":"211181d9.0f026e","type":"ui_group","name":"Voltage","tab":"621795d4.5a093c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b5bb579e.f0f868","type":"ui_group","name":"Current","tab":"621795d4.5a093c","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf8d44b2.bea9c8","type":"ui_group","name":"Charge","tab":"621795d4.5a093c","order":5,"disp":true,"width":"6","collapse":false},{"id":"5308aea2.0035","type":"ui_group","name":"Fresh","tab":"8bda4cbd.49784","order":3,"disp":true,"width":"6","collapse":false},{"id":"e0e94bec.d30e48","type":"ui_group","name":"Diesel","tab":"8bda4cbd.49784","order":5,"disp":true,"width":"6","collapse":false},{"id":"9a84fcf1.09fb8","type":"ui_group","name":"Heating","tab":"9cfaadc9.d3cad","order":2,"disp":true,"width":"6","collapse":false},{"id":"e4b1b035.83743","type":"ui_group","name":"Fans","tab":"9cfaadc9.d3cad","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbe2d24d.1395d","type":"ui_group","name":"Grey","tab":"8bda4cbd.49784","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bfb2502.fd9238","type":"ui_group","name":"Holding","tab":"8bda4cbd.49784","order":4,"disp":true,"width":"6","collapse":false},{"id":"548957a1.37c778","type":"ui_group","name":"AC Systems","tab":"621795d4.5a093c","order":6,"disp":true,"width":"6","collapse":false},{"id":"3f126a42.d45686","type":"ui_group","name":"DC Systems","tab":"621795d4.5a093c","order":1,"disp":true,"width":"6","collapse":false},{"id":"99edb6c2.1bde98","type":"ui_group","name":"Generator","tab":"621795d4.5a093c","order":7,"disp":true,"width":"6","collapse":false},{"id":"78f4182c.22c0d8","type":"ui_group","name":"Thermostats","tab":"9cfaadc9.d3cad","order":4,"disp":true,"width":"6","collapse":false},{"id":"96bdbd.24ef024","type":"ui_group","name":"Graphs","tab":"9cfaadc9.d3cad","order":5,"disp":true,"width":"6","collapse":false},{"id":"e017c50e.4ffb68","type":"ui_group","name":"Engine","tab":"fbffba0f.997c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"2be4c060.c55e8","type":"ui_group","name":"Throttle","tab":"fbffba0f.997c98","order":6,"disp":false,"width":"2","collapse":false},{"id":"41285cb0.3facd4","type":"mcp23017chip","addr":"0x21","interval":"100"},{"id":"c2ed3f14.077b4","type":"mcp23017chip","addr":"0x20","interval":"100"},{"id":"1a9cfbdd.0b9594","type":"mcp23017chip","addr":"0x25","interval":"100"},{"id":"11358729.983779","type":"mcp23017chip","addr":"0x23","interval":"100"},{"id":"782602be.c78ecc","type":"mcp23017chip","addr":"0x22","interval":"100"},{"id":"1347bb67.03ca35","type":"mcp23017chip","addr":"0x26","interval":"100"},{"id":"96c351a9.d5fc6","type":"mcp23017chip","addr":"0x24","interval":"100"},{"id":"621795d4.5a093c","type":"ui_tab","name":"Electronics","icon":"mi-electrical_services","disabled":false,"hidden":false},{"id":"fbffba0f.997c98","type":"ui_tab","name":"Engine","icon":"dashboard","disabled":false,"hidden":false},{"id":"8bda4cbd.49784","type":"ui_tab","name":"Fluids","icon":"mi-waves","disabled":false,"hidden":false},{"id":"9cfaadc9.d3cad","type":"ui_tab","name":"Climate Control","icon":"ac_unit","disabled":false,"hidden":false}]